<div class="btn-container">
  
  <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 96px; display: inline-flex">
      <div style="width: 24px; height: 24px; padding-top: 4.41px; padding-bottom: 4.42px; padding-left: 4.42px; padding-right: 4px; justify-content: center; align-items: center; display: flex">
        <div class="container">
            <div class="btn-container">
              <button style="background: transparent;border: none;" routerLink="/services"><img class="icon" src="./assets/zondicons_arrow-left.svg" alt=""></button>
              </div>
            
            </div>
      </div>
      <div style="color: black; font-size: 12px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Battery swapping</div>
  </div>
  <div style="width:100%;align-self: stretch; padding: 12px; background: #F2F2F2; border-radius: 20px; overflow: hidden; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
      <div style="width: 18px; height: 18px; position: relative">
        <img src="../assets/tabler_search.svg" >
      </div>
      <div style="color: #3355B9; font-size: 12px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Search by stations, battery model</div>
  </div>
  <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
      <div style="width: 328px; justify-content: space-between; align-items: center; display: inline-flex">
          <div style="color: #363636; font-size: 18px; font-family: Archivo; font-weight: 700; word-wrap: break-word">Battery stations near you</div>
          <div style="width: 24px; height: 24px; position: relative; background: #3355B9; border-radius: 24px; overflow: hidden">
              <div style="width: 6px; height: 10px; left: 10px; top: 7px; position: absolute; background: white"></div>
          </div>
      </div>
    </div>
      <app-swap-battery-scroll  [slides]="slider"></app-swap-battery-scroll>

  <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
      <div style="width: 328px; justify-content: space-between; align-items: center; display: inline-flex">
          <div style="color: #363636; font-size: 18px; font-family: Archivo; font-weight: 700; word-wrap: break-word">All battery stations</div>
          <div style="width: 24px; height: 24px; position: relative; background: #3355B9; border-radius: 24px; overflow: hidden">
              <div style="width: 6px; height: 10px; left: 10px; top: 7px; position: absolute; background: white"></div>
          </div>
      </div>
      <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
          <div style="width: 328px; padding-right: 8px; border-radius: 20px; overflow: hidden;  justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
              <img style="width: 134px; align-self: stretch; border-radius: 12px" src="https://s3-alpha-sig.figma.com/img/b892/249f/333c6d12c7d0d7fcbd4fe5705036c0e8?Expires=1699833600&Signature=PLdY5an0NF0P5chmYDFXOJvC7uap2MLWsZngLS0H8jsvj4~zKLeMxjrYRyLp6ufMttc5rv7Ml2W55gMmXud0d42mMXxBT7QNRyQe8xoXP8DyXRZh1ptAxNm1~~XbhndF9QCXgXKZbI5qkx4kZEeftB~CcpOPksUx2QJWqN4L6K2cZcmJ0ySDAYHVzjoZd7GI8AkBaKRFkjemtSWvLtySY7GDrDveMwc7u1BO4pR6Oc3oVcgz1O2thEUfSJLHVmxIk8ztTRr48I8bNXIvNQxkAFUB~5Y-fpYUZ7xKL8lH~SSHMaEv3GvCRZ9JZAfwiKLXI-CqyOZibQALJinINQ~osA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" />
              <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                  <div style="align-self: stretch; height: 88px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
                      <div style="align-self: stretch; color: black; font-size: 16px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Ameerpet metro EV battery station </div>
                      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                          <div style="justify-content: flex-start; align-items: center; gap: 6px; display: inline-flex">
                              <div style="width: 16px; height: 16px; position: relative">
                                  <div style="width: 8px; height: 14.22px; left: 4px; top: 0.89px; position: absolute; background: #3355B9"></div>
                                  <div style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute"></div>
                              </div>
                              <div style="color: black; font-size: 14px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Battery</div>
                          </div>
                          <div style="justify-content: flex-start; align-items: center; gap: 6px; display: inline-flex">
                              <div style="width: 16px; height: 16px; position: relative">
                                  <div style="width: 13.33px; height: 12.67px; left: 1.33px; top: 2.67px; position: absolute; background: #3355B9"></div>
                              </div>
                              <div style="color: black; font-size: 14px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Other details</div>
                          </div>
                      </div>
                  </div>
                  <div style="align-self: stretch; height: 40px; padding-left: 10px; padding-right: 10px; padding-top: 16px; padding-bottom: 16px; background: #3355B9; border-radius: 24px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                      <div style="color: white; font-size: 14px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Researve </div>
                  </div>
              </div>
          </div>
          <div style="width: 328px; padding-right: 8px; border-radius: 20px; overflow: hidden;  justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
              <img style="width: 134px; align-self: stretch; border-radius: 12px" src="https://s3-alpha-sig.figma.com/img/6038/682c/26a58b8a4c8588427528c399a9ce59db?Expires=1699833600&Signature=kDP1fUrGmWJfY3XIfPAIAH4yHKPznKrGCQIm~Cm3QrKsiIfXq48uSop9yTgOJKkcO-9K2GXJEM67ytKjX4qDIBkay6gtRhPUvAzaEJpnGMQu5jl0Y~hIJYXNZZpdco5SiQaiyD86Q5YtnKlzaCboo-AqIu48okMST5OznlM0BjI2y3Z4Slj9orUGNNlyjDPaHIud7aawtCgS0Ojls164mPnc6l83~4uwS5Ym4LgRERxNZGMW7o~WG0pWi4tDyOkyrL8RXloA1B8hD9ZbqAkQTvyMP9AQv8sEI7AI9lSmTQzeM0Mwws2B83d1a7agOh4aYnb76rEeWeGhG0fHCx9t0A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" />
              <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                  <div style="align-self: stretch; height: 88px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
                      <div style="align-self: stretch; color: black; font-size: 16px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Tolichowki EV battery station</div>
                      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                          <div style="justify-content: flex-start; align-items: center; gap: 6px; display: inline-flex">
                              <div style="width: 16px; height: 16px; position: relative">
                                  <div style="width: 8px; height: 14.22px; left: 4px; top: 0.89px; position: absolute; background: #3355B9"></div>
                                  <div style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute"></div>
                              </div>
                              <div style="color: black; font-size: 14px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Battery</div>
                          </div>
                          <div style="justify-content: flex-start; align-items: center; gap: 6px; display: inline-flex">
                              <div style="width: 16px; height: 16px; position: relative">
                                  <div style="width: 13.33px; height: 12.67px; left: 1.33px; top: 2.67px; position: absolute; background: #3355B9"></div>
                              </div>
                              <div style="color: black; font-size: 14px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Other details</div>
                          </div>
                      </div>
                  </div>
                  <div style="align-self: stretch; height: 40px; padding-left: 10px; padding-right: 10px; padding-top: 16px; padding-bottom: 16px; background: #3355B9; border-radius: 24px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                      <div style="color: white; font-size: 14px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Researve</div>
                  </div>
              </div>
          </div>
          <div style="width: 328px; padding-right: 8px; border-radius: 20px; overflow: hidden;  justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
              <img style="width: 134px; align-self: stretch; border-radius: 12px" src="https://s3-alpha-sig.figma.com/img/935b/90f6/f1d93441303585483a22db590b56161d?Expires=1699833600&Signature=NNc7tgD3hHjC1GggAAL89tJ06SgG6n4WV1wt7nVS65dOloP3bPma7l--s2ieX9VNPxK2HHovOmfISbYnP5xhN-lUJO0FUkeFgRp4HuIQjQK5xrUkeZmvva3F~SR0N-FzbgAin0JxeKDKPwDifIODGf6PsCgMsmYDrtlFy1OeN3k-2cIlhitzYs7GxdC3Bk3qrKdToAtDJOV2YH-GDHTpkjJfEvdSpkMwdbNE4ISyz-FJmUgmlsXcsbzto2unOzUw7jZfppnkoTXcM3sfa3aFGSkinb5tDIaM08XZjIyCR5WIdaopXbT3OqJ3LzGq3MJUPd89aYpBUphkbDoC1xLqBA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" />
              <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                  <div style="align-self: stretch; height: 88px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
                      <div style="align-self: stretch; color: black; font-size: 16px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Kondapur EV battery station</div>
                      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                          <div style="justify-content: flex-start; align-items: center; gap: 6px; display: inline-flex">
                              <div style="width: 16px; height: 16px; position: relative">
                                  <div style="width: 8px; height: 14.22px; left: 4px; top: 0.89px; position: absolute; background: #3355B9"></div>
                                  <div style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute"></div>
                              </div>
                              <div style="color: black; font-size: 14px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Battery</div>
                          </div>
                          <div style="justify-content: flex-start; align-items: center; gap: 6px; display: inline-flex">
                              <div style="width: 16px; height: 16px; position: relative">
                                  <div style="width: 13.33px; height: 12.67px; left: 1.33px; top: 2.67px; position: absolute; background: #3355B9"></div>
                              </div>
                              <div style="color: black; font-size: 14px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Other details</div>
                          </div>
                      </div>
                  </div>
                  <div style="align-self: stretch; height: 40px; padding-left: 10px; padding-right: 10px; padding-top: 16px; padding-bottom: 16px; background: #3355B9; border-radius: 24px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                      <div style="color: white; font-size: 14px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Researve</div>
                  </div>
              </div>
          </div>
          <div style="width: 328px; padding-right: 8px; border-radius: 20px; overflow: hidden;  justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
              <img style="width: 134px; align-self: stretch; border-radius: 12px" src="https://s3-alpha-sig.figma.com/img/935b/90f6/f1d93441303585483a22db590b56161d?Expires=1699228800&Signature=Ns-d4~EeVr9zliv1SVZ6vqoT3sEptjuDN~q2iPebDSzp2-bipJ0h-2jIy8yO5Wv~lRF8ZRa6IYvJTBwDnTPxW6UCWsgO-FxNTOkMRIYLvb-bRNsh6k~qbxkFNcoLm8gbSM7jEhJFMYILah20DH1frfikdMUi9aQnl-ccJIbHJz61pQ~66nQrQO1T8wuYJMW-NtzLLTV1P-TSWhjtINd2~Sdxk2S-ArIWvSBe~xQU0n4RkOQNB7voJouSMzIliU4m48nzZ4k1ejJbv-1zEUwIggIqcnfscE~U-mfjs5nnHsDM4Rb07P52kleE5TFez5293-uVbTQfg9EeFM9~t92W~g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" />
              <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                  <div style="align-self: stretch; height: 88px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
                      <div style="align-self: stretch; color: black; font-size: 16px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Kavuri hills EV battery station</div>
                      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                          <div style="justify-content: flex-start; align-items: center; gap: 6px; display: inline-flex">
                              <div style="width: 16px; height: 16px; position: relative">
                                  <div style="width: 8px; height: 14.22px; left: 4px; top: 0.89px; position: absolute; background: #3355B9"></div>
                                  <div style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute"></div>
                              </div>
                              <div style="color: black; font-size: 14px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Battery</div>
                          </div>
                          <div style="justify-content: flex-start; align-items: center; gap: 6px; display: inline-flex">
                              <div style="width: 16px; height: 16px; position: relative">
                                  <div style="width: 13.33px; height: 12.67px; left: 1.33px; top: 2.67px; position: absolute; background: #3355B9"></div>
                              </div>
                              <div style="color: black; font-size: 14px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Other details</div>
                          </div>
                      </div>
                  </div>
                  <div style="align-self: stretch; height: 40px; padding-left: 10px; padding-right: 10px; padding-top: 16px; padding-bottom: 16px; background: #3355B9; border-radius: 24px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                      <div style="color: white; font-size: 14px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Researve</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
