<div class="btn-container">
<div style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
    <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 124px; display: inline-flex">
        <div style="width: 24px; height: 24px; position: relative">
            <button style="background: transparent;border: none;" routerLink="/homepage"><img class="icon" src="./assets/zondicons_arrow-left.svg" alt=""></button>
        </div>
        <div style="color: #363636; font-size: 12px; font-family: Open Sans Hebrew; font-weight: 400; word-wrap: break-word">Services</div>
    </div>
    <div style="width: 328px; height: 692px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex;padding: 2%;">
        <div style="align-self: stretch; height: 142px; padding-left: 12px; padding-right: 12px; padding-top: 24px; padding-bottom: 24px; background: #99D2FE; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                <div style="color: #363636; font-size: 16px; font-family: Open Sans Hebrew; font-weight: 700; word-wrap: break-word">Extend your current plan</div>
                <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                    <div style="width: 130px; color: #363636; font-size: 14px; font-family: Open Sans Hebrew; font-weight: 400; word-wrap: break-word">Choose your plan options</div>
                    <div style="width: 16px; height: 16px; position: relative">
                     <img src="../assets/ph_arrow-right-bold.svg" alt="">
                    </div>
                </div>
            </div>
            <img style="width: 174px; height: 174px;margin-left: 142px;margin-top: -102px; " src="../assets/services1.svg" />
           
        </div>
        <div style="align-self: stretch; height: 142px; padding-left: 12px; padding-right: 12px; padding-top: 24px; padding-bottom: 24px; background: #FEF499; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex"
            routerLink="/wash-station-list">
                <div style="color: #363636; font-size: 16px; font-family: Open Sans Hebrew; font-weight: 700; word-wrap: break-word">
                    Need to wash your bike?</div>
                <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                    <div style="width: 130px; color: #363636; font-size: 14px; font-family: Open Sans Hebrew; font-weight: 400; word-wrap: break-word">
                        Check nearby wash stations</div>
                    <div style="width: 16px; height: 16px; position: relative">
                        <img src="../assets/ph_arrow-right-bold.svg" alt="">
                    </div>
                </div>
            </div>
            <img style="width: 174px; height: 174px;margin-left: 142px;margin-top: -102px; " src="../assets/services1.svg" />
          
        </div>
        <div style="align-self: stretch; height: 142px; padding-left: 12px; padding-right: 12px; padding-top: 24px; padding-bottom: 24px; background: #F17EA0; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                <div style="color: #363636; font-size: 16px; font-family: Open Sans Hebrew; font-weight: 700; word-wrap: break-word">Emergency!</div>
                <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                    <div style="color: #363636; font-size: 14px; font-family: Open Sans Hebrew; font-weight: 400; word-wrap: break-word">Check here</div>
                    <div style="width: 16px; height: 16px; position: relative">
                        <img src="../assets/ph_arrow-right-bold.svg" alt="">
                    </div>
                </div>
            </div>
            <img style="width: 174px; height: 174px;margin-left: 142px;margin-top: -82px; " src="../assets/services1.svg" />
     
        </div>
    </div>
</div>
</div>
<!-- <div style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
    <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 124px; display: inline-flex">
        <div style="width: 24px; height: 24px; position: relative">
            <div style="width: 15.58px; height: 15.17px; left: 4.42px; top: 4.41px; position: absolute; background: #363636"></div>
        </div>
        <div style="color: #363636; font-size: 12px; font-family: Open Sans Hebrew; font-weight: 400; word-wrap: break-word">Services</div>
    </div>
    <div style="width: 328px; height: 692px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
        <div style="align-self: stretch; height: 142px; padding-left: 12px; padding-right: 12px; padding-top: 24px; padding-bottom: 24px; background: #99D2FE; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
            <img style="width: 174px; height: 174px; background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%)" src="https://via.placeholder.com/174x174" />
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                <div style="color: #363636; font-size: 16px; font-family: Open Sans Hebrew; font-weight: 700; word-wrap: break-word">Extend your current plan</div>
                <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                    <div style="width: 130px; color: #363636; font-size: 14px; font-family: Open Sans Hebrew; font-weight: 400; word-wrap: break-word">Choose your plan options</div>
                    <div style="width: 16px; height: 16px; position: relative">
                        <div style="width: 12.50px; height: 10.50px; left: 1.75px; top: 2.75px; position: absolute; background: #363636"></div>
                    </div>
                </div>
            </div>
        </div>
        <div style="align-self: stretch; height: 142px; padding-left: 12px; padding-right: 12px; padding-top: 24px; padding-bottom: 24px; background: #FEF499; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
            <img style="width: 174px; height: 174px; background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%)" src="https://via.placeholder.com/174x174" />
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                <div style="color: #363636; font-size: 16px; font-family: Open Sans Hebrew; font-weight: 700; word-wrap: break-word">Need to wash your bike?</div>
                <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                    <div style="width: 130px; color: #363636; font-size: 14px; font-family: Open Sans Hebrew; font-weight: 400; word-wrap: break-word">Check nearby wash stations</div>
                    <div style="width: 16px; height: 16px; position: relative">
                        <div style="width: 12.50px; height: 10.50px; left: 1.75px; top: 2.75px; position: absolute; background: #363636"></div>
                    </div>
                </div>
            </div>
        </div>
        <div style="align-self: stretch; height: 142px; padding-left: 12px; padding-right: 12px; padding-top: 24px; padding-bottom: 24px; background: #F17EA0; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
            <img style="width: 176px; height: 174px; background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%)" src="https://via.placeholder.com/176x174" />
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                <div style="color: #363636; font-size: 16px; font-family: Open Sans Hebrew; font-weight: 700; word-wrap: break-word">Emergency!</div>
                <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                    <div style="color: #363636; font-size: 14px; font-family: Open Sans Hebrew; font-weight: 400; word-wrap: break-word">Check here</div>
                    <div style="width: 16px; height: 16px; position: relative">
                        <div style="width: 12.50px; height: 10.50px; left: 1.75px; top: 2.75px; position: absolute; background: #363636"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->