<div class="btn-container">
<div style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
    <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 124px; display: inline-flex">
        <div style="width: 24px; height: 24px; position: relative">
            <button style="background: transparent;border: none;" routerLink="/enableloaction"><img class="icon" src="./assets/ic_round-arrow-back (3).svg" alt=""></button>
        </div>
        <div style="color: #363636; font-size: 12px;  font-weight: 400; word-wrap: break-word">Services</div>
    </div>
    <div class="parent">

        <button (click)="Extendplan()" style="width:328px;align-self: stretch; height: 142px; padding-left: 12px; padding-right: 12px; padding-top: 24px; padding-bottom: 24px; background: #99D2FE; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                <div style="color: #363636; font-size: 16px;  font-weight: 700; word-wrap: break-word">Extend your current plan</div>
                <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                    <div style="width: 130px; color: #363636; font-size: 14px;  font-weight: 400; word-wrap: break-word">Choose your plan options</div>
                    <div style="width: 16px; height: 16px; position: relative">
                     <img src="../assets/ph_arrow-right-bold.svg" alt="">
                    </div>
                </div>
            </div>
            <img style="width: 174px; height: 174px;margin-left: 158px;margin-top: -84px; " src="../assets/services1.svg" />
           
        </button>
        <div style="width:328px;align-self: stretch; height: 142px; padding-left: 12px; padding-right: 12px; padding-top: 24px; padding-bottom: 24px; background: #FEF499; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex"
            routerLink="/wash-station-list">
                <div style="color: #363636; font-size: 16px;  font-weight: 700; word-wrap: break-word">
                    Need to wash your bike?</div>
                <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                    <div style="width: 130px; color: #363636; font-size: 14px;  font-weight: 400; word-wrap: break-word">
                        Check nearby wash stations</div>
                    <div style="width: 16px; height: 16px; position: relative">
                        <img src="../assets/ph_arrow-right-bold.svg" alt="">
                    </div>
                </div>
            </div>
            <img style="width: 174px; height: 174px;margin-left: 158px;margin-top: -102px; " src="../assets/Rectangle 2508 (2).svg" />
          
        </div>
        <div routerLink="/emergency" style="width:328px;align-self: stretch; height: 142px; padding-left: 12px; padding-right: 12px; padding-top: 24px; padding-bottom: 24px; background: #F17EA0; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                <div style="color: #363636; font-size: 16px;  font-weight: 700; word-wrap: break-word">Emergency!</div>
                <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                    <div style="color: #363636; font-size: 14px;  font-weight: 400; word-wrap: break-word">Check here</div>
                    <div style="width: 16px; height: 16px; position: relative">
                        <img src="../assets/ph_arrow-right-bold.svg" alt="">
                    </div>
                </div>
            </div>
            <img style="width: 174px; height: 174px;margin-left: 158px;margin-top: -82px; " src="../assets/Rectangle 2508 (3).svg" />
     
        </div>
    </div>

</div>
</div>
