<div class="btn-container">
<div style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
  <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 124px; display: inline-flex">

        <div class="container">
            
              <button routerLink="/homepage"><img class="icon" src="./assets/zondicons_arrow-left.svg" alt=""></button>
            
            
          
      </div>
      <div style="color: #363636; font-size: 12px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Services</div>
  </div>
  <div style="width: 328px; height: 692px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
 <a href="/battery-swapping" style="align-self: stretch; height: 142px; padding-left: 16px; padding-right: 16px; padding-top: 24px; padding-bottom: 24px; background: #6EDF72; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
      <button routerLink="/battery-swapping" style="align-self: stretch; height: 142px; padding-left: 16px; padding-right: 16px; padding-top: 24px; padding-bottom: 24px; background: #6EDF72; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">

          <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
              <div style="color: #363636; font-size: 16px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Need to swap battery?</div>
              <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                  <div style="width: 116px; color: #363636; font-size: 14px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Check nearby hub stations</div>
                  <div style="width: 16px; height: 16px; position: relative">
                      <div style="width: 12.50px; height: 10.50px; left: 1.75px; top: 2.75px; position: absolute; background: #363636"></div>
                  </div>
              </div>
            </div>
        </button>
    </a>

    <button routerLink="/slotbooking" style="align-self: stretch; height: 142px; padding-left: 16px; padding-right: 16px; padding-top: 24px; padding-bottom: 24px; background: #99D2FE; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
      <div style="align-self: stretch; height: 142px; padding-left: 16px; padding-right: 16px; padding-top: 24px; padding-bottom: 24px; background: #99D2FE; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">

          <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
              <div style="color: #363636; font-size: 16px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Extend your current plan</div>
              <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                  <div style="width: 130px; color: #363636; font-size: 14px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Choose your plan options</div>
                  <div style="width: 16px; height: 16px; padding-left: 1.75px; padding-right: 1.75px; padding-top: 2.75px; padding-bottom: 2.75px; justify-content: center; align-items: center; display: flex">
                      <div style="width: 12.50px; height: 10.50px; background: #363636"></div>
                  </div>
              </div>
          </div>
      </div>
    </button>
      <button routerLink="/wash-station-list" style="align-self: stretch; height: 142px; padding-left: 16px; padding-right: 16px; padding-top: 24px; padding-bottom: 24px;  background: #FEF499; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
      <div style="align-self: stretch; height: 142px; padding-left: 16px; padding-right: 16px; padding-top: 24px; padding-bottom: 24px;  border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">

          <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
              <div style="color: #363636; font-size: 16px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Need to wash your bike?</div>
              <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                  <div style="width: 130px; color: #363636; font-size: 14px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Check nearby wash stations</div>
                  <div style="width: 16px; height: 16px; position: relative">
                      <div style="width: 12.50px; height: 10.50px; left: 1.75px; top: 2.75px; position: absolute; background: #363636"></div>
                  </div>
              </div>
          </div>
      </div>
    </button>
      <a href="/" style="align-self: stretch; height: 142px; padding-left: 16px; padding-right: 16px; padding-top: 24px; padding-bottom: 24px; background: #F17EA0; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
      <div style="align-self: stretch; height: 142px; padding-left: 16px; padding-right: 16px; padding-top: 24px; padding-bottom: 24px;  border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
    
          <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
              <div style="color: #363636; font-size: 16px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Emergency!</div>
              <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                  <div style="color: #363636; font-size: 14px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Check here</div>
                  <div style="width: 16px; height: 16px; position: relative">
                      <div style="width: 12.50px; height: 10.50px; left: 1.75px; top: 2.75px; position: absolute; background: #363636"></div>
                  </div>
              </div>
          </div>
      </div>
      </a>
  </div>
</div>
</div>