<div class="btn-container">
<div style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
  <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 106px; display: inline-flex">
      <div style="width: 24px; height: 24px; position: relative">
        <div class="container">
            <div class="btn-container">
              <button style="background: none;" routerLink="/homepage"><img class="icon" src="./assets/zondicons_arrow-left.svg" alt=""></button>
              </div>
            
            </div>
      </div>
      <div style="color: #363636; font-size: 12px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Notifications</div>
  </div>

  </div>
  <div style="color: black; font-size: 12px; font-family: Archivo; font-weight: 700; word-wrap: break-word;text-align: center;">There are no Notifications for you  at the moment</div>
  
  </div>
  <hr style="background: rgb(197, 196, 196);border: 2px ;">