@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
.btn-container{
    padding: 4%;
}
.booking
{color: black; font-size: 12px; font-family: 'Open Sans', sans-serif; font-weight: 400; word-wrap: break-word}
.battery-details{
    flex: 1 1 0; color: #3355B9; font-size: 18px; font-family: 'Open Sans', sans-serif; font-weight: 700; word-wrap: break-word
}
.model{
   color: black; font-size: 14px; font-family: 'Open Sans', sans-serif; font-weight: 600; word-wrap: break-word
}
.model-c{
    color: black; font-size: 14px; font-family: 'Open Sans', sans-serif;  font-weight: 400; word-wrap: break-word
}
.offer{
    color: #363636; font-size: 18px; font-family: 'Open Sans', sans-serif; font-weight: 600; line-height: 28px; word-wrap: break-word
}
.first{
   color: #363636; font-size: 14px; font-family: 'Open Sans', sans-serif; font-weight: 700; word-wrap: break-word
}
.pay{
    text-decoration: none; color: white; font-size: 14px; font-family: Archivo; font-weight: 700; word-wrap: break-word
}