<ion-content class="scroller">
<div style="width: 100%;  flex-direction: column; justify-content: center; align-items: center; gap: 24px; display: inline-flex">
  <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 106px; display: inline-flex">
      <div style="width: 24px; height: 24px; position: relative">
        <div class="btn-container">
            <a routerLink="/hub-details"><img class="icon" src="./assets/ic_round-arrow-back (3).svg" alt=""></a>
            </div>
      </div>
      <div style="color: black; font-size: 12px; font-family: Open Sans Hebrew; font-weight: 400; word-wrap: break-word">All images</div>
  </div>
  <div style="width: 328px; height: 692px; position: relative">
      <img style="width: 328px; height: 230px; left: 0px; top: 0px; position: absolute; border-radius: 12px" src="../assets/Rectangle 2508.png" />
      <img style="width: 328px; height: 230px; left: 0px; top: 600px; position: absolute; border-radius: 12px" src="../assets/Rectangle 2515.png" />
      <img style="width: 212px; height: 173px; left: 0px; top: 238px; position: absolute; border-radius: 12px" src="../assets/Rectangle 2506.png" />
      <img style="width: 212px; height: 173px; left: 116px; top: 419px; position: absolute; border-radius: 12px" src="../assets/Rectangle 2514.png" />
      <img style="width: 108px; height: 82px; left: 220px; top: 238px; position: absolute; border-radius: 12px" src="../assets/Rectangle 2507.png" />
      <img style="width: 108px; height: 83px; left: 220px; top: 328px; position: absolute; border-radius: 12px" src="../assets/Rectangle 2513.png" />
      <img style="width: 108px; height: 173px; left: 0px; top: 419px; position: absolute; border-radius: 12px" src="../assets/Rectangle 2511.png" />
  </div>
</div>
</ion-content>