.otp {
    flex: 1 1 0;
    height: 44px;
    border-bottom: 2px #E2E1E5 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .btn-container{
    padding: 2%;
  }