@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

.battery-deatis-p {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.btn-container {
    padding: 4%;
}

.battery-list {
    color: black;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}

.search {
    color: #3355B9;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    word-wrap: break-word
}

.model {
    color: black;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    word-wrap: break-word
}

.type {
    color: black;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}

.battery {
    color: black;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    word-wrap: break-word
}

.view-btn {
    color: white;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    word-wrap: break-word
}

f1_div {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    display: inline-flex;
}

s2_div {
    align-self: stretch;
    justify-content: flex-start;
    align-items: center;
    gap: 116px;
    display: inline-flex
}

t3_div {
    align-self: stretch;
    padding: 12px;
    background: #F2F2F2;
    border-radius: 20px;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

f4_div {
    width: 13.50px;
    height: 13.50px;
    left: 2.25px;
    top: 2.25px;
    position: absolute;
    border: 2px #3355B9 solid;
}

f5_div {
    width: 328px;
    height: 626px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: flex;
}

s6_div {
    align-self: stretch;
    height: 588px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    display: flex;
}