<div class="container">
<div mat-dialog-container class="allow-container">
<div class="container-child">
  <img  src="./assets/rafiki.png" alt="Photo of a Shiba Inu">
  <h1 class="title">Allow permissions for communication</h1>
  <p class="title-container1">Grant the following permissions of phone, SMS & notification to enable key features.</p>
  <div class="allow-permission-btn-container">
    <button  class="allow-permission-btn" routerLink="/register">Allow all permissions</button>
  </div>
</div>
  </div>
</div>