@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');


.intro-head{
    color: var(--Primary, #3355B9);
    font-family: 'Open Sans', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}


.error{
  color: red;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.gap{
    padding: 2%;
}
.main-container{
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: center;
}
.intro-para{
    
    font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.country-code{
    width: 60px;
}
ion-item{
    border-radius: 24px;
    border: 1px solid var(--Stroke-on-White, #E2E1E5);
    // background: var(--White, #FFF);
    display: flex;
    height: 40px;
 
    align-items: center;
    gap: 12px;
    align-self: stretch;

}
.country-code{
    border-radius: 24px;
    border: 1px solid var(--Stroke-on-White, #E2E1E5);
    // background: var(--White, #FFF);
    display: flex;
    height: 40px;
    gap: 12px;
    align-self: stretch;
}


.date{
    width: 190px;
    border:none;
}
.date-label{
    display: flex;
    align-items: flex-start;
    
    font-size: 16px;
    font-family: Archivo;
    font-weight: 600;
    word-wrap: break-word
}

.btn-container{
    margin: 10px;
}
.phone{
    border: none;

}
.l-name-label{
    display: flex;
    align-items: flex-start;
    
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    word-wrap: break-word
}
.l-name{
  height: 40px;
}
.f-name{
    display: flex;
    align-items: flex-start;
    
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    word-wrap: break-word
}
.register-btn{
    
width: 100%;
height: 48px;
padding: 16px 12px;

border-radius: 24px;
background: #3355B9;
color: #FFF;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.google-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
 

}
.email{
    
font-size: 16px;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
word-wrap: break-word
}
.google-btn-content{
    font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.google-btn{
width: 328px;
height: 44px;
border-radius: 20px;
// background: #F2F2F2;
color: #6D6D6D;
}
.login-page{
    
text-align: center;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.link-google{
    color: var(--Primary, #3355B9);
    font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-decoration-line: underline;
}
.register-container{
    display: flex;
    // padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 14px;
}



.login{
    display: flex;
    align-items: center;
    justify-content: center;
}
tr{
    padding: 5%;
}
.transparent{
    background: transparent;
}
.name-f{
    width: 82px;  font-size: 13px;  font-family: 'Open Sans', sans-serif; font-weight: 600; word-wrap: break-word
}
.name-l{
    width: 79.90px;  font-size: 13px; font-family: 'Open Sans', sans-serif; font-weight: 600; word-wrap: break-word 
}
.email{
  display: flex;
  align-items: flex-start;
  
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  word-wrap: break-word
}
.mobile{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  word-wrap: break-word
}
//responsive
.gender{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  word-wrap: break-word
}
.dob{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  word-wrap: break-word
}





::placeholder{
  color: black;
}
