.battery-deatails-p{
    display: flex;
    flex-flow: wrap row;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 10px;
    row-gap: 10px;
}
.btn-container{
    padding: 4%;
}