@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
ion-modal {
    --width:300px;
  --height:320px ;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}
.btn-container{
  padding: 4%;
}
.heading{
 color: black; font-size: 12px; font-family: 'Open Sans', sans-serif; font-weight: 400; word-wrap: break-word
}
.model{
 align-self: stretch; color: #363636; font-size: 18px; font-family: 'Open Sans', sans-serif; font-weight: 600; word-wrap: break-word
}
.date{
 align-self: stretch; color: black; font-size: 14px; font-family: 'Open Sans', sans-serif; font-weight: 400; word-wrap: break-word
}
.days{
 align-self: stretch; color: black; font-size: 14px; font-family: 'Open Sans', sans-serif; font-weight: 400; word-wrap: break-word
}
.reserve{
 align-self: stretch; color: #3355B9; font-size: 18px; font-family: 'Open Sans', sans-serif; font-weight: 600; word-wrap: break-word
}
.id{
  color: black; font-size: 14px; font-family: 'Open Sans', sans-serif; font-weight: 600; word-wrap: break-word
}
.name{
  color: black; font-size: 14px; font-family: 'Open Sans', sans-serif; font-weight: 400; word-wrap: break-word
}
.rules{
  color: black; font-size: 12px; font-family: 'Open Sans', sans-serif; font-weight: 700; word-wrap: break-word
}
.content{
  align-self: stretch; color: black; font-size: 12px; font-family: 'Open Sans', sans-serif; font-weight: 400; line-height: 16.32px; word-wrap: break-word
}
.direction{
color: white; font-size: 14px; font-family: 'Open Sans', sans-serif; font-weight: 700; word-wrap: break-word
}
.summary{
  color: #3355B9; font-size: 14px; font-family: 'Open Sans', sans-serif; font-weight: 700; text-decoration: underline; word-wrap: break-word
}
.maps{
 color: #3F3F3F; font-size: 24px; font-family: 'Open Sans', sans-serif; font-weight: 700; word-wrap: break-word
}
.map-content{
 width: 100%; text-align: center; color: #717171; font-size: 16px; font-family: 'Open Sans', sans-serif; font-weight: 400; word-wrap: break-word
}
.map-btn{
 text-align: center; color: white; font-size: 14px; font-family: 'Open Sans', sans-serif; font-weight: 400; letter-spacing: 0.10px; word-wrap: break-word
}
.btn-map{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position:fixed;

	bottom:2px;
	

	color:#FFF;

	text-align:center;

}