
<div class="allow-container">
<ion-card class="allow-card" >
  <img alt="" src="./assets/rafiki.svg" />
  <ion-card-header class="title-container">
    <ion-card-title class="title">Allow access for essential functions</ion-card-title>
    
  </ion-card-header>

  <ion-card-content class="title-container1">
    Grant the following permissions of location, storage & phone to enable key features.
  </ion-card-content>
  <div class="allow-permission-btn-container">
  <button class="allow-permission-btn">Allow all permissions</button>
</div>
</ion-card>

</div>