@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

.book-Now {
    width: 328px;
    height: 48px;
    border-radius: 24px;
    background: var(--Primary, #3355B9);
}

.btn-container {


    padding-left: 4%;
}

.start-time {
    color: white;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    text-align: center;
}

.when {
    align-self: stretch;
    color: #363636;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    word-wrap: break-word
}

.date-time {
    color: black;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    word-wrap: break-word
}

.container {
    display: flex;
    align-items: center;
    gap: 106px;
    align-self: stretch;
}

.btn-container {
    padding: 2%;
}

.time {
    width: 328px;
    height: 40px;
    border-radius: 24px;
    background: #F2F2F2;
    border: none;
}

.btnsave {
    width: 328px;
    height: 42px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #3355B9;
    border-radius: 24px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: inline-flex
}
ion-modal#example-modal {
    --width: fit-content;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }
  
  ion-modal#example-modal h1 {
    margin: 20px 20px 10px 20px;
  }
  
  ion-modal#example-modal ion-icon {
    margin-right: 6px;
  
    width: 48px;
    height: 48px;
  
    padding: 4px 0;
  
    color: #aaaaaa;
  }
  
  ion-modal#example-modal .wrapper {
    margin-bottom: 10px;
  }