.book{
    color: white;
}
.container{
 
    position:fixed;
  
      bottom:2px;
      
   
      color:#FFF;
  
      text-align:center;

}
.get-started-btn{
  
   

  
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:fixed;
  
      bottom:2px;
      
  
      padding: 120px 12px;
      text-align:center;
   
}