.btn-container{
    padding: 4%;
}
.btn-submit{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:fixed;
  
      bottom:2px;
      
   
      color:#FFF;
  
      text-align:center;
    
}
.container{
    display: flex;
    margin: 2%;
    align-items: center;
    justify-content: center;

}
.btn-space{
    margin: 2%;
}
