<div class="btn-container">
  <div
    style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
    <div
      style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 120px; display: inline-flex">
      <div style="width: 24px; height: 24px; position: relative">
        <div class="container">
          <div class="btn-container">
            <a routerLink="/homepage"><img class="icon" src="./assets/ic_round-arrow-back (3).svg" alt=""></a>
          </div>

        </div>
      </div>
      <div style=" font-size: 12px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Settings</div>
    </div>
    <div style=" font-size: 18px; font-family: Archivo; font-weight: 700; word-wrap: break-word">Settings</div>
    <div
      style="align-self: stretch; height: 182px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
      <div
        style="align-self: stretch; padding: 12px; border-bottom: 1px #E8E7E7 solid; justify-content: space-between; align-items: center; display: inline-flex">
        <div style=" font-size: 14px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Theme</div>
        <div style="justify-content: flex-start; align-items: center; gap: 8px; display: flex">
          <div style="width: 16px; height: 16px; position: relative">
            <!-- <div style="width: 14px; height: 14px; left: 3.01px; top: -0.55px; position: absolute; transform: rotate(14.72deg); transform-origin: 0 0; background: black"></div> -->
          </div>
          <!-- <div style=" font-size: 14px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Dark</div>  -->
          <!-- <mat-slide-toggle labelPosition="before" ></mat-slide-toggle> -->
          <ion-toggle [enableOnOffLabels]="true" [formControl]="toggleControl"></ion-toggle>

        </div>
      </div>
      <div routerLink="/myaddress"
        style="align-self: stretch; padding: 12px; border-bottom: 1px #E8E7E7 solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
        <div style=" font-size: 16px; font-family: Open Sans Hebrew; font-weight: 400; word-wrap: break-word">My
          addresses</div>
      </div>
      
        <div 
        style="align-self: stretch; padding: 12px; border-bottom: 1px #E8E7E7 solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
        <div style=" font-size: 14px; font-family: Archivo; font-weight: 400; word-wrap: break-word">
          <button (click)="security()">
            Security

          </button>
        </div>
      </div>
    
      <div routerLink="/trustedcontacts_list"
        style="align-self: stretch; padding: 12px; border-bottom: 1px #E8E7E7 solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
        <div style=" font-size: 16px; font-family: Open Sans Hebrew; font-weight: 400; word-wrap: break-word">Trusted
          contacts</div>
      </div>


      <div routerLink="/aboutapplication"
        style="align-self: stretch; padding: 12px; border-bottom: 1px #E8E7E7 solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
        <div style=" font-size: 14px; font-family: Archivo; font-weight: 400; word-wrap: break-word">About application
        </div>
      </div>
    </div>


  </div>
  <div class="btn-submit">
    <div class="btn-space">
      <div
        style="width: 328px; padding: 12px; background: #F2F2F2; border-radius: 24px; overflow: hidden; border-top: 1px solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
        <div style="width: 24px; height: 24px; position: relative">
          <img src="../assets/ant-design_logout-outlined.svg" alt="logout">
        </div>
        <div style="color: #E33629; font-size: 14px; font-family: Archivo; font-weight: 700; word-wrap: break-word">
          <button (click)="logout()">
            Log out
          </button>
        </div>
      </div>
    </div>
    <div class="btn-space">
      <div
        style="width: 328px; height: 100%; padding: 12px; border-radius: 24px; border: 1px #E8E7E7 solid; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
        <div style="width: 24px; height: 24px; position: relative">
          <img src="../assets/mdi_delete.svg" alt="delete">

        </div>
        <div
          style="color: #E33629; font-size: 14px; font-family: Open Sans Hebrew; font-weight: 700; word-wrap: break-word">
         <button (click)="remove()">

           Delete account
         </button>
        </div>
      </div>
    </div>
  </div>
</div>