<div class="btn-container">
<div style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: center; gap: 24px; display: inline-flex">
  <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 126px; display: inline-flex">
      <div style="width: 24px; height: 24px; position: relative">
        <div class="container">
            <div class="btn-container">
              <a routerLink="/homepage"><img class="icon" src="./assets/zondicons_arrow-left.svg" alt=""></a>
              </div>
            
            </div>
      </div>
      <div style="color: #363636; font-size: 12px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Profile</div>
  </div>
  <div style="width: 120px; height: 120px; position: relative">
      <img style="width: 120px; height: 120px; left: 0px; top: 0px; position: absolute; border-radius: 100px" src="{{imageSource}}" />
      <button (click)="takePicture()" style="width: 24px; height: 24px; padding: 6px; left: 90px; top: 90px; position: absolute; background: white; box-shadow: 0px 2px 4px rgba(51, 85, 185, 0.15); border-radius: 100px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 12px; height: 12px; background: #3355B9"></div>
      </button>
  </div>
  <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 18px; display: flex">
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
          <div style="color: #363636; font-size: 16px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Customer id</div>
          <input type="text" placeholder="E0000001" style="width: 328px; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: #F2F2F2; border-radius: 24px; border: none; overflow: hidden;  justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
            
      </div>
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
          <div style="width: 82px; color: #363636; font-size: 16px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Name</div>
          <input type="text" placeholder="Manish Paul"style="width: 328px; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: #F2F2F2; border-radius: 24px; border: none; overflow: hidden;  justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
       

      </div>
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
          <div style="width: 44.15px; color: #363636; font-size: 16px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Email</div>
          <input type="text" placeholder="manishpaul@gmail.com" style="width: 328px; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: #F2F2F2; border-radius: 24px; border: none; overflow: hidden;  justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
            
      </div>
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
          <div style="width: 80.95px; color: #363636; font-size: 16px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Mobile no.</div>
          <input type="text" placeholder="9876543210" style="width: 328px; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: #F2F2F2; border-radius: 24px; border: none; overflow: hidden;  justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
           
      </div>
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
          <div style="width: 80.95px; color: #363636; font-size: 16px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Gender</div>
          <input type="text" placeholder="Male" style="width: 328px; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: #F2F2F2; border-radius: 24px; border: none; overflow: hidden;  justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
           
      </div>
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
          <div style="color: #363636; font-size: 16px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Date of birth</div>
          <input type="text" placeholder="20-03-1980" style="width: 328px; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: #F2F2F2; border-radius: 24px; border: none; overflow: hidden;  justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
          
      </div>
  </div>
</div>
</div>