@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
.btn-container{
    padding: 4%;
}
.card{
    color: #363636; font-size: 16px;  font-family: 'Open Sans', sans-serif; font-weight: 600; word-wrap: break-word
}
.name-card{
   color: #363636; font-size: 16px;  font-family: 'Open Sans', sans-serif; font-weight: 600; word-wrap: break-word
}
.save{
   color: #363636; font-size: 14px;  font-family: 'Open Sans', sans-serif; font-weight: 400; word-wrap: break-word
}
.continue{
  color: white; font-size: 14px;  font-family: 'Open Sans', sans-serif; font-weight: 400; word-wrap: break-word
}
.ruppe{
   text-align: center; color: #363636; font-size: 36px; font-family: Archivo; font-weight: 600; word-wrap: break-word
}