.continue-btn {
    padding-top: 240px;
}


.adharfile {
    color: black;
    font-size: 12px;
    font-family: Open Sans Hebrew;
    font-weight: 400;
    letter-spacing: 0.24px;
    word-wrap: break-word
}

.fileclose {
    width: 8.79px;
    height: 8.79px;
    left: 3.61px;
    top: 3.61px;
    position: absolute;
}