

<div class="btn-container">
<div style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
  <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 92px; display: inline-flex">
      <div style="width: 24px; height: 24px; position: relative">
    
          <div class="btn-container">
            <button style="background: transparent;border: none;" routerLink="/payment-gateway"><img class="icon" src="./assets/zondicons_arrow-left.svg" alt=""></button>
            </div>
          
          </div>
      
      <div class="upi-id">Add new UPI ID</div>
  </div>

        <div style="color: #363636; font-size: 16px; font-family: Archivo; font-weight: 600; word-wrap: break-word">UPI ID</div>

<input type="text" placeholder="Enter your UPI ID" style="width: 100%;padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px;border: 1px #E2E1E5 solid;border-radius: 24px;">

<div style="justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
    <div style="width: 24px; height: 24px; position: relative">
        <input type="checkbox" style="width: 18px; height: 18px; left: 3px; top: 3px; position: absolute; ">
    </div>
    <div style="opacity: 0.60; color: #363636; font-size: 14px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Securely save VPA for future use</div>
</div>

<button routerLink="/addcard-e" style="width: 100%; height: 48px; padding-left: 16px; padding-right: 16px; padding-top: 10px; padding-bottom: 10px; background: #3355B9; border-radius: 24px; overflow: hidden; justify-content: center; align-items: center; display: flex">
  <div style="color: white; font-size: 14px; font-family: Archivo; font-weight: 700; word-wrap: break-word;text-align: center;">Verify & pay ₹9,760</div>
</button>

</div>

</div>