.hub-near-image{
    width: 140px;
    height: 142px;
    border-radius: 10px;
  }
  .content{
    color: #363636;
font-size: 14px;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
word-wrap: break-word
  }
  .time{
    color: #363636;
        font-family: Archivo;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
  }
  .hub-container{
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  column-gap: 20px;
}
