
<div style="width: 920px; height: 1024px; padding: 16px; left: 520px; top: 0px; position: absolute; background: linear-gradient(0deg, black 0%, black 100%); border-left: 1px #E8E7E7 solid; background-image: url(https://s3-alpha-sig.figma.com/img/db76/f400/bfc6b5b7f61fc0e640b1e625b42d7708?Expires=1701043200&Signature=JHBuUc2fnUFrid9tvjx~OUt~F0Vt~Xqxmk0AoSDpCqxDHPONoWtepcg2vHp0EyN-dp4FWRa8g34GIm5gW0rSp-p39YMWGct2LTZUqr9g22I8u1aLaGMg6USUMZFdXRcbrps1zfz3We4NI8tr4Wu-0yxEUMaZ9roI95DvdiibSQ7NF-2~hFkJHekW5mw-H6HQqaT~cigVzHCGddP-Wpsps5Yr4RTd6G1Z1dTOc2EGr1w39GZI~hXLZjiOpzz72HcimvHd2P8TtDzUYggSbpj-D7yXfxrkAvg~mEVcC5qhNRrBASwmqvOX1bikorXbaG0rSaj6esIeNCLNkq9VO4UETg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4); flex-direction: column; justify-content: center; align-items: center; gap: 16px; display: inline-flex">
    <img style="width: 100%; height: 100%" src="" />
</div>
<!-- <form action="" [formGroup]="registerForm">
    <div class="register-parent">
      <div class="register-child">
      
        <table>
          <tr>
    <td>
      <label class="f-name">First Name</label>
   
        <input class="tag" placeholder="First name" formControlName="firstName"  >
        
  
    </td>
    <td>
      <label class="l-name-label">Last Name</label>
      
        
        <input class="tag" placeholder="surname" formControlName="lastName" >
       
   
    </td>
    </tr>
    </table>
    
    <label class="email">Email</label>
  
      <input class="tag" type="email" placeholder="xyz@gmail.com" formControlName="email"  onclick="ValidateEmail(document.form1.text1)">
      <div slot="error">Please enter a valid email</div>

    
    <div style="align-self: stretch; height: 65px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
      <div style="align-self: stretch; color: #363636; font-size: 16px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Mobile no.</div>
      <div style="align-self: stretch; height: 40px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; background: white; border-radius: 28px; overflow: hidden; border: 1px #E2E1E5 solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
          <div style="justify-content: flex-start; align-items: center; gap: 6px; display: flex">
              <div style="width: 18px; height: 18px; position: relative">
                  <div style="width: 18px; height: 4.50px; left: 0px; top: 11px; position: absolute; background: #138808"></div>
                  <div style="width: 18px; height: 4.50px; left: -0px; top: 2.50px; position: absolute; background: #FF9933"></div>
                  <div style="width: 18px; height: 4.33px; left: 0px; top: 6.83px; position: absolute; background: #F7F7F7"></div>
                  <div style="width: 4px; height: 4px; left: 7px; top: 7px; position: absolute; background: #3355B9"></div>
                  <div style="width: 3.38px; height: 3.38px; left: 7.31px; top: 7.31px; position: absolute; background: #F7F7F7"></div>
                  <div style="width: 3.20px; height: 3.20px; left: 7.40px; top: 7.40px; position: absolute; background: #6666B3"></div>
                  <div style="width: 3.54px; height: 3.54px; left: 7.23px; top: 7.23px; position: absolute">
                      <div style="width: 0.20px; height: 0.20px; left: 1.45px; top: -0px; position: absolute; background: #3355B9"></div>
                      <div style="width: 0.20px; height: 0.20px; left: 1.03px; top: 0.11px; position: absolute; background: #3355B9"></div>
                      <div style="width: 0.20px; height: 0.20px; left: 0.64px; top: 0.33px; position: absolute; background: #3355B9"></div>
                      <div style="width: 0.20px; height: 0.20px; left: 0.33px; top: 0.64px; position: absolute; background: #3355B9"></div>
                      <div style="width: 0.20px; height: 0.20px; left: 0.11px; top: 1.03px; position: absolute; background: #3355B9"></div>
                      <div style="width: 0.20px; height: 0.20px; left: -0px; top: 1.45px; position: absolute; background: #3355B9"></div>
                      <div style="width: 0.20px; height: 0.20px; left: -0px; top: 1.89px; position: absolute; background: #3355B9"></div>
                      <div style="width: 0.20px; height: 0.20px; left: 0.11px; top: 2.32px; position: absolute; background: #3355B9"></div>
                      <div style="width: 0.20px; height: 0.20px; left: 0.33px; top: 2.70px; position: absolute; background: #3355B9"></div>
                      <div style="width: 0.20px; height: 0.20px; left: 0.64px; top: 3.01px; position: absolute; background: #3355B9"></div>
                      <div style="width: 0.20px; height: 0.20px; left: 1.03px; top: 3.23px; position: absolute; background: #3355B9"></div>
                      <div style="width: 0.20px; height: 0.20px; left: 1.45px; top: 3.34px; position: absolute; background: #3355B9"></div>
                      <div style="width: 0.20px; height: 0.20px; left: 1.89px; top: 3.34px; position: absolute; background: #3355B9"></div>
                      <div style="width: 0.20px; height: 0.20px; left: 2.32px; top: 3.23px; position: absolute; background: #3355B9"></div>
                      <div style="width: 0.20px; height: 0.20px; left: 2.70px; top: 3.01px; position: absolute; background: #3355B9"></div>
                      <div style="width: 0.20px; height: 0.20px; left: 3.01px; top: 2.70px; position: absolute; background: #3355B9"></div>
                      <div style="width: 0.20px; height: 0.20px; left: 3.23px; top: 2.32px; position: absolute; background: #3355B9"></div>
                      <div style="width: 0.20px; height: 0.20px; left: 3.34px; top: 1.89px; position: absolute; background: #3355B9"></div>
                      <div style="width: 0.20px; height: 0.20px; left: 3.34px; top: 1.45px; position: absolute; background: #3355B9"></div>
                      <div style="width: 0.20px; height: 0.20px; left: 3.23px; top: 1.03px; position: absolute; background: #3355B9"></div>
                      <div style="width: 0.20px; height: 0.20px; left: 3.01px; top: 0.64px; position: absolute; background: #3355B9"></div>
                      <div style="width: 0.20px; height: 0.20px; left: 2.70px; top: 0.33px; position: absolute; background: #3355B9"></div>
                      <div style="width: 0.20px; height: 0.20px; left: 2.32px; top: 0.11px; position: absolute; background: #3355B9"></div>
                      <div style="width: 0.20px; height: 0.20px; left: 1.89px; top: -0px; position: absolute; background: #3355B9"></div>
                      <div style="width: 0.90px; height: 0.90px; left: 1.32px; top: 1.32px; position: absolute; background: #3355B9"></div>
                  </div>
              </div>
              <div style="color: #363636; font-size: 14px; font-family: Archivo; font-weight: 400; word-wrap: break-word">
                <select class="tag" aria-label="" value="+91" formControlName="country" >
                  <option value="+91">+91</option>
                  <option value="+1">+1</option>
                  <option value="+7">+7</option>
                </select>
              </div>
          </div>
          <input  class="phone" placeholder="0000000" formControlName="mobile" >
      </div>
    </div>
    </div>
    <div class="register-child">
      <table>
        <tr>
    <td>
      <label for="" class="date-label">Date</label>
     <input class="tag"  type="date" formControlName="date" class="gender" >
      </td>
    <td>
      <label for="" class="date-label">Gender</label>
     
        <select class="tag"  formControlName="gender" class="gender" >
          <option value="" selected disabled hidden>select</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Others">Prefer not say</option>
        </select>
       
      </td>
    
    </tr>
    </table>
    
    
    <div class="register-container">
      <button class="register-btn" (click)="onSubmit()" routerLink="/log">Register</button>
     
    
    </div>  -->

    <div style="width: 400px; height: 600px; padding-left: 48px; padding-right: 48px; padding-top: 24px; padding-bottom: 24px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 36px; display: flex">
            <div style="align-self: stretch; height: 53px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
                <div style="width: 280px; color: #3355B9; font-size: 24px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Welcome!</div>
                <div style="color: #363636; font-size: 14px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Create an account to continue</div>
            </div>
            <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
                <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                    <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                        <div style="width: 82px; color: #363636; font-size: 16px; font-family: Archivo; font-weight: 600; word-wrap: break-word">First name</div>
                        <input placeholder="First name" style="align-self: stretch; height: 40px;  background: white; border-radius: 24px; overflow: hidden; border: 1px #E2E1E5 solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
                         
                       
                    </div>
                    <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                        <div style="width: 79.90px; color: #363636; font-size: 16px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Last name</div>
                        <input placeholder="Surname" style="align-self: stretch; height: 40px;  background: white; border-radius: 24px; overflow: hidden; border: 1px #E2E1E5 solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
               
                       
                    </div>
                </div>
                <label for="">Email</label>
                <input type="email" style="align-self: stretch; height: 40px;  background: white; border-radius: 24px; overflow: hidden; border: 1px #E2E1E5 solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
                <div style="align-self: stretch; height: 65px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                    <div style="align-self: stretch; color: #363636; font-size: 16px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Mobile no.</div>
                    <div style="align-self: stretch; height: 40px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; background: white; border-radius: 28px; overflow: hidden; border: 1px #E2E1E5 solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
                        <div style="justify-content: flex-start; align-items: center; gap: 6px; display: flex">
                            <div style="width: 18px; height: 18px; position: relative">
                                <div style="width: 18px; height: 4.50px; left: 0px; top: 11px; position: absolute; background: #138808"></div>
                                <div style="width: 18px; height: 4.50px; left: -0px; top: 2.50px; position: absolute; background: #FF9933"></div>
                                <div style="width: 18px; height: 4.33px; left: 0px; top: 6.83px; position: absolute; background: #F7F7F7"></div>
                                <div style="width: 4px; height: 4px; left: 7px; top: 7px; position: absolute; background: #3355B9"></div>
                                <div style="width: 3.38px; height: 3.38px; left: 7.31px; top: 7.31px; position: absolute; background: #F7F7F7"></div>
                                <div style="width: 3.20px; height: 3.20px; left: 7.40px; top: 7.40px; position: absolute; background: #6666B3"></div>
                                <div style="width: 3.54px; height: 3.54px; left: 7.23px; top: 7.23px; position: absolute">
                                    <div style="width: 0.20px; height: 0.20px; left: 1.45px; top: -0px; position: absolute; background: #3355B9"></div>
                                    <div style="width: 0.20px; height: 0.20px; left: 1.03px; top: 0.11px; position: absolute; background: #3355B9"></div>
                                    <div style="width: 0.20px; height: 0.20px; left: 0.64px; top: 0.33px; position: absolute; background: #3355B9"></div>
                                    <div style="width: 0.20px; height: 0.20px; left: 0.33px; top: 0.64px; position: absolute; background: #3355B9"></div>
                                    <div style="width: 0.20px; height: 0.20px; left: 0.11px; top: 1.03px; position: absolute; background: #3355B9"></div>
                                    <div style="width: 0.20px; height: 0.20px; left: -0px; top: 1.45px; position: absolute; background: #3355B9"></div>
                                    <div style="width: 0.20px; height: 0.20px; left: -0px; top: 1.89px; position: absolute; background: #3355B9"></div>
                                    <div style="width: 0.20px; height: 0.20px; left: 0.11px; top: 2.32px; position: absolute; background: #3355B9"></div>
                                    <div style="width: 0.20px; height: 0.20px; left: 0.33px; top: 2.70px; position: absolute; background: #3355B9"></div>
                                    <div style="width: 0.20px; height: 0.20px; left: 0.64px; top: 3.01px; position: absolute; background: #3355B9"></div>
                                    <div style="width: 0.20px; height: 0.20px; left: 1.03px; top: 3.23px; position: absolute; background: #3355B9"></div>
                                    <div style="width: 0.20px; height: 0.20px; left: 1.45px; top: 3.34px; position: absolute; background: #3355B9"></div>
                                    <div style="width: 0.20px; height: 0.20px; left: 1.89px; top: 3.34px; position: absolute; background: #3355B9"></div>
                                    <div style="width: 0.20px; height: 0.20px; left: 2.32px; top: 3.23px; position: absolute; background: #3355B9"></div>
                                    <div style="width: 0.20px; height: 0.20px; left: 2.70px; top: 3.01px; position: absolute; background: #3355B9"></div>
                                    <div style="width: 0.20px; height: 0.20px; left: 3.01px; top: 2.70px; position: absolute; background: #3355B9"></div>
                                    <div style="width: 0.20px; height: 0.20px; left: 3.23px; top: 2.32px; position: absolute; background: #3355B9"></div>
                                    <div style="width: 0.20px; height: 0.20px; left: 3.34px; top: 1.89px; position: absolute; background: #3355B9"></div>
                                    <div style="width: 0.20px; height: 0.20px; left: 3.34px; top: 1.45px; position: absolute; background: #3355B9"></div>
                                    <div style="width: 0.20px; height: 0.20px; left: 3.23px; top: 1.03px; position: absolute; background: #3355B9"></div>
                                    <div style="width: 0.20px; height: 0.20px; left: 3.01px; top: 0.64px; position: absolute; background: #3355B9"></div>
                                    <div style="width: 0.20px; height: 0.20px; left: 2.70px; top: 0.33px; position: absolute; background: #3355B9"></div>
                                    <div style="width: 0.20px; height: 0.20px; left: 2.32px; top: 0.11px; position: absolute; background: #3355B9"></div>
                                    <div style="width: 0.20px; height: 0.20px; left: 1.89px; top: -0px; position: absolute; background: #3355B9"></div>
                                    <div style="width: 0.90px; height: 0.90px; left: 1.32px; top: 1.32px; position: absolute; background: #3355B9"></div>
                                </div>
                            </div>
                            <select style="border: none;" class="tag" aria-label="" value="+91" formControlName="country" >
                                <option value="+91">+91</option>
                                <option value="+1">+1</option>
                                <option value="+7">+7</option>
                              </select>
                        </div>

                        <input style="align-self: stretch; height: 40px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; background: white; border-radius: 28px; overflow: hidden; border: 1px #E2E1E5 solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
                    </div>
                </div>
                <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                    <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                        <div style="align-self: stretch; color: #363636; font-size: 16px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Date of birth</div>
                        <div style="align-self: stretch; height: 40px;  background: white; border-radius: 24px; overflow: hidden; border: 1px #E2E1E5 solid; justify-content: space-between; align-items: center; display: inline-flex">
                            <input type="date" style="opacity: 0.60; color: #363636; font-size: 14px; font-family: Archivo; font-weight: 400; word-wrap: break-word">
                            <div style="width: 18px; height: 18px; position: relative">
                                <div style="width: 15px; height: 15px; left: 1.50px; top: 1.50px; position: absolute; background: #363636"></div>
                            </div>
                        </div>
                    </div>
                    <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                        <div style="align-self: stretch; color: #363636; font-size: 16px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Gender</div>
                        <div style="align-self: stretch; height: 40px; background: white; border-radius: 24px; overflow: hidden; border: 1px #E2E1E5 solid; justify-content: space-between; align-items: center; display: inline-flex">
                            <div style="opacity: 0.60; color: #363636; font-size: 14px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Select</div>
                            <div style="width: 18px; height: 18px; position: relative">
                                <div style="width: 12px; height: 7.50px; left: 3px; top: 5.25px; position: absolute; background: #363636"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br><br>
            <button style="align-self: stretch; height: 48px; background: #3355B9; border-radius: 24px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; display: flex">
                <div style="color: white; font-size: 14px; font-family: Archivo; font-weight: 700; word-wrap: break-word">Register</div>
            </button>
          
        </div>
    </div>