<div class="container">
  <div class="intro-container">
    
<img class="logo" src="./assets/Logo.png" alt="" style=" transform: rotate(5.04deg); " ><br>
<img class="company-name" src="./assets/EVER.svg" alt="">

</div>


<!-- <div style="width: 100%; height: 100%; justify-content: center; align-items: center; gap: 6.47px; display: inline-flex">
  <img src="./assets/Logo.svg" style="width: 36.81px; height: 36.81px; transform: rotate(25.04deg); transform-origin: 0 0; ">
  <img src="./assets/EVER.svg" style="width: 74px; height: 16px; ">
</div> -->


<div class="intro-parent">
  <div class="intro-child">
    <!-- <div style="display: flex;align-items: center;justify-content: center;">
    <img src="./assets/background-simple.svg" alt=""></div>
    <div class="device-img-container">
      
    <img class="device-img"  src="./assets/Device.svg" alt=""></div>
    <img class="grass" src="./assets/Vector.svg" alt="">
    <div class="character-container">
      <img src="./assets/character.svg" alt="">
      
    </div>
    <div class="intro-icon">
      <img src="./assets/Character.svg" alt="">
    </div> -->
    <div style="width: 285.27px; height: 200.87px; left: 37px; top: 216px; position: absolute">
      <div style="width: 235.43px; height: 187.23px; left: 15px; top: 0px; position: absolute; opacity: 0.15">

          <img src="./assets/background-simple.svg" style="width: 235.43px; height: 187.23px; left: 0px; top: 0px; position: absolute; opacity: 0.36; ">
      </div>
      <div style="width: 285.27px; height: 183.02px; left: 0px; top: 2.95px; position: absolute">
          <div style="width: 285.27px; height: 0.14px; left: 0px; top: 172.15px; position: absolute; background: #354B85"></div>
          <div style="width: 18.90px; height: 0.14px; left: 237.79px; top: 181.33px; position: absolute; background: #354B85"></div>
          <div style="width: 4.96px; height: 0.14px; left: 184.01px; top: 182.88px; position: absolute; background: #354B85"></div>
          <div style="width: 10.95px; height: 0.14px; left: 226.27px; top: 176.04px; position: absolute; background: #354B85"></div>
          <div style="width: 24.64px; height: 0.14px; left: 29.93px; top: 176.99px; position: absolute; background: #354B85"></div>
          <div style="width: 3.61px; height: 0.14px; left: 59.65px; top: 176.99px; position: absolute; background: #354B85"></div>
          <div style="width: 53.45px; height: 0.14px; left: 75.01px; top: 179.40px; position: absolute; background: #354B85"></div>
          <img src="./assets/cloud.png" style="width: 44.98px; height: 26.34px; left: 105.09px; top: 0px; position: absolute; ">
          <img src="./assets/cloud1.png" style="width: 28.54px; height: 16.82px; left: 157.35px; top: 39.46px; position: absolute; ">
          <div style="width: 17.46px; height: 10.31px; left: 38.98px; top: 40.53px; position: absolute; background: #B7D4FF"></div>
          <img src="./assets/cloud2.png" style="width: 17.46px; height: 10.32px; left: 230.84px; top: 11.56px; position: absolute; ">
          <div style="width: 7.25px; height: 5.33px; left: 194.55px; top: 18.29px; position: absolute; background: #8597C5"></div>
          <div style="width: 7.25px; height: 5.34px; left: 194.55px; top: 29.29px; position: absolute; background: #8597C5"></div>
          <div style="width: 7.25px; height: 5.34px; left: 194.55px; top: 40.33px; position: absolute; background: #8597C5"></div>
          <div style="width: 7.25px; height: 5.33px; left: 194.55px; top: 18.29px; position: absolute; opacity: 0.10; background: #8597C5"></div>
          <div style="width: 7.25px; height: 5.34px; left: 194.55px; top: 29.29px; position: absolute; opacity: 0.10; background: #8597C5"></div>
          <div style="width: 7.25px; height: 5.34px; left: 194.55px; top: 40.33px; position: absolute; opacity: 0.10; background: #8597C5"></div>
          <div style="width: 17.99px; height: 40.03px; left: 199.52px; top: 14.17px; position: absolute; background: #8597C5"></div>
          <div style="width: 10.34px; height: 40.03px; left: 207.16px; top: 14.17px; position: absolute; background: #354B85"></div>
          <div style="width: 5.24px; height: 50.12px; left: 211.14px; top: 10.35px; position: absolute; background: #8597C5"></div>
          <div style="width: 20.95px; height: 5.85px; left: 205.92px; top: 167.09px; position: absolute; background: #8597C5"></div>
          <div style="width: 3.15px; height: 159.12px; left: 214.81px; top: 7.97px; position: absolute; background: #8597C5"></div>
          <div style="width: 5.26px; height: 40.09px; left: 216.38px; top: 22.80px; position: absolute; background: #8597C5"></div>
          <div style="width: 18.44px; height: 29.23px; left: 210.31px; top: 28.56px; position: absolute; background: #263238"></div>
          <div style="width: 18.44px; height: 29.23px; left: 210.31px; top: 28.56px; position: absolute; background: #354B85"></div>
          <div style="width: 16.19px; height: 29.23px; left: 212.56px; top: 28.56px; position: absolute; background: #F5F5F5"></div>
          <div style="width: 10.32px; height: 10.32px; left: 214.14px; top: 41.81px; position: absolute; transform: rotate(-76.72deg); transform-origin: 0 0; background: #6EDF72;border-radius: 100%;"></div>
          <div style="width: 10.27px; height: 10.27px; left: 215.24px; top: 44.73px; position: absolute; background: #E95757;border-radius: 100%;"></div>
          <img src="./assets/grass1.png" style="width: 36.60px; height: 20.86px; left: 212.19px; top: 144.32px; position: absolute;">
          <img src="./assets/Vector.svg" style="width: 55.86px; height: 31.80px; left: 5.46px; top: 133.37px; position: absolute;">
          <div style="width: 26.91px; height: 6.98px; left: 69.38px; top: 165.17px; position: absolute; background: #8597C5"></div>
      </div>
      <img src="./assets/Shadow.png" style="width: 221.24px; height: 12.92px; left: 32.01px; top: 187.95px; position: absolute; ">
      <img src="./assets/Device.svg" style="width: 96.39px; height: 173.36px; left: 42.25px; top: 15.63px; position: absolute">
      
         
      <img src="./assets/Character.svg" style="width: 117.83px; height: 128.48px; left: 115.29px; top: 67.36px; position: absolute">
         
  </div>
  </div>
      <div class="intro-child1">
        <p class="intro-content">Navigating cities,<br>
          Empowering lives</p>
          </div>
    <div class="intro-child1">
      <div class="get-started-btn"> 
      <ion-button class="get-start-btn" id="open-modal" expand="block" >Get Started 
        <img class="icon" src="./assets/zondicons_arrow-right.svg" alt=""></ion-button>
      <ion-modal #modal trigger="open-modal">
        <ng-template>
          <ion-content>
            
              <div class="container-child">
                <img  src="./assets/rafiki.png" alt="">
                <h1 class="title">Allow access for essential functions</h1>
                <p class="title-container1">Grant the following permissions of location, storage & phone to enable key features..</p>
                <div class="allow-permission-btn-container">
                  <button  class="allow-permission-btn"   (click)=" Permissions()" (click)="modal.dismiss()">Allow all permissions</button>
                </div>
              </div>
             
          </ion-content>
        </ng-template>
      </ion-modal>
    </div>
  </div>
  


