<div class="btn-container">
<div style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
  <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 120px; display: inline-flex">
      <div style="width: 24px; height: 24px; position: relative">
        <div class="container">
            <div class="btn-container">
              <a style="background: transparent;border: none;" routerLink="/homepage"><img class="icon" src="./assets/zondicons_arrow-left.svg" alt=""></a>
              </div>
            
            </div>
      </div>
      <div style="color: #363636; font-size: 12px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Claims</div>
  </div>
  <div style="color: #363636; font-size: 18px; font-family: Archivo; font-weight: 700; word-wrap: break-word">Claims</div>
  <div style="align-self: stretch; height: 160px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
      <div style="align-self: stretch; padding: 12px; border-bottom: 1px #E8E7E7 solid; justify-content: space-between; align-items: center; display: inline-flex">
          <div style="justify-content: flex-start; align-items: center; gap: 12px; display: flex">
              <div style="width: 24px; height: 24px; position: relative">
                  <div style="width: 18px; height: 18px; left: 3px; top: 3px; position: absolute">
                      <img src="../assets/healthicons_accident-and-emergency.svg" alt="">
                 
                  </div>
              </div>
              <div style="color: #363636; font-size: 16px; font-family: Archivo; font-weight: 700; word-wrap: break-word">Accidental deaths</div>
          </div>
          <div style="color: #363636; font-size: 14px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Up to ₹5,00,000</div>
      </div>
      <div style="align-self: stretch; padding: 12px; border-bottom: 1px #E8E7E7 solid; justify-content: space-between; align-items: center; display: inline-flex">
          <div style="justify-content: flex-start; align-items: center; gap: 12px; display: flex">
              <div style="width: 24px; height: 24px; position: relative">
                <img src="../assets/fa-solid_notes-medical.svg" alt="">
              </div>
              <div style="color: #363636; font-size: 16px; font-family: Archivo; font-weight: 700; word-wrap: break-word">Medical expense</div>
          </div>
          <div style="color: #363636; font-size: 14px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Up to ₹1,00,000</div>
      </div>
      <div style="align-self: stretch; padding: 12px; border-bottom: 1px #E8E7E7 solid; justify-content: space-between; align-items: center; display: inline-flex">
          <div style="justify-content: flex-start; align-items: center; gap: 12px; display: flex">
              <div style="width: 24px; height: 24px; position: relative">
                <img src="../assets/fa6-solid_hand-holding-medical.svg" alt="">
              </div>
              <div style="color: #363636; font-size: 16px; font-family: Archivo; font-weight: 700; word-wrap: break-word">OPD Treatment</div>
          </div>
          <div style="color: #363636; font-size: 14px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Up to ₹50,000</div>
      </div>
  </div>
  <div style="align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: #F2F2F2; border-radius: 24px; overflow: hidden; justify-content: space-between; align-items: center; display: inline-flex">
      <div style="color: #363636; font-size: 14px; font-family: Archivo; font-weight: 700; word-wrap: break-word">Terms & conditions</div>
      <div routerLink="/tc" style="width: 24px; height: 24px; position: relative; background: #3355B9; border-radius: 24px; overflow: hidden">
        <img src="./assets/ri_arrow-right-s-line.svg"
        style="width: 24px; height: 24px; position: relative; background: #3355B9; border-radius: 24px; overflow: hidden" >
      </div>
  </div>
</div>
</div>