<div class="container">
<div style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
  <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 106px; display: inline-flex">
    <div class="btn-container">
        <button style="background: transparent;border: none;" routerLink="/homepage"><img class="icon" src="./assets/zondicons_arrow-left.svg" alt=""></button>
        </div>
    
      <p class="intro-content">Hub details</p>
  </div>
  
  <div style="align-self: stretch; height: 108px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
      <div style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
          <div class="hub-name" >Megha hills EV hub</div>
          <div style="justify-content: flex-start; align-items: center; gap: 12px; display: flex">
              <div style="width: 24px; height: 24px; position: relative">
                   <img src="./assets/Frame 2608256.svg" alt="">
              </div>
          </div>
      </div>
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
          <div style="justify-content: flex-start; align-items: center; gap: 6px; display: inline-flex">
              <div style="width: 16px; height: 16px; position: relative">
                    <img src="./assets/ic_round-directions-walk.svg" alt="">
              </div>
              <div class="walk" >12 min by walk | 0.5 km</div>
          </div>
          <div style="justify-content: flex-start; align-items: center; gap: 6px; display: inline-flex">
              <div style="width: 16px; height: 16px; position: relative">
                <img src="./assets/mdi_motorbike-electric.svg" alt="">
              </div>
              <div class="walk" >1,200</div>
          </div>
          <div style="justify-content: flex-start; align-items: center; gap: 6px; display: inline-flex">
              <div style="width: 16px; height: 16px; position: relative">
                  <div style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute">
                      <div style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute"></div>
                      <img src="./assets/mingcute_time-line.svg" alt="">
                  </div>
              </div>
              <div class="walk" >Open | Closes 11.00 pm</div>
          </div>
      </div>
  </div><br>
  <div style="width: 328px; height: 36px; justify-content: center; align-items: center; display: inline-flex">
      <button routerLink="/bikelist" style="flex: 1 1 0; align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 14px; padding-bottom: 14px; background: #3355B9; border-radius: 24px; overflow: hidden; justify-content: space-between; align-items: center; display: inline-flex">
          <div class="vehicle" >Select your vehicle</div>
          <div style="width: 24px; height: 24px; position: relative">
           <img src="./assets/ic_round-arrow-back.svg" alt="">
          </div>
        </button>
  </div>
  <div style="height: 330px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
      <img style="align-self: stretch; height: 230px; border-radius: 12px" src="https://s3-alpha-sig.figma.com/img/fcd6/cd44/e3119718e1a82d463bad3320d2dbc7b6?Expires=1700438400&Signature=eI2UdQ5m9c8D4NCyL0zcJJuR0RFDNQzrZcKnh20s0MSaj2uj6btJyQ2OKZCTRV-EFBMvKWStN~3DVxrgReq43mRwei5PnUwhRN5I655zcTEjJwzEUlKuJtnjpOZXUyIZ-FcsesPKK9fSbOVvKT91ACx7gZBlNc9mQgDf4cLPVYbkEYDj-4mYcgslo4NM1peGUIN55gdxbubID0gClSdJhtv42nx~1fhJpQT6bc91gjXFSLByzjV8k58NTIRGqjKN6irBrCXsTOm3m8hzEKOZWBiqlUHDt4nRqVCzUCZ37KgTD6ZJd7rBEkr0AzF7UzU7UoCZqzeKqSYViMrGmI4z1w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" />
      <div style="width: 328px; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
          <img style="width: 108px; align-self: stretch; border-radius: 12px" src="https://s3-alpha-sig.figma.com/img/99ed/0015/7bb1adb22fa113d0573ea314b1dd922c?Expires=1700438400&Signature=DNfNGA5bUVSzGgKaVkSSplIqndYCw-Su7UsaThPSYgQ1VSsTcmSzSO53PZj2n~1esVn6sMHu6aYivSw7IJriViJn9IO8FLsikmxSUQ1tbOlehJmb3tcbkX6PYSekYY04JcExTv154V8gfhTrX8sQre9e9zDXsSxX6vgVIHDEUXh6uUaz1bWYhU4vUzP7hNIadtilwFlZVCFWT1UQr0WuRloHU9SGi~ja9vXn691ytNaovEv2gg2dZ8m5rIMwYLeQqloUnpz8tAqRVZQ9X8FslroMOvcUEDX81SvlJgsxyeIiQZcZqxCecPhRZ49R25UIZKmJJaMiyaUDUjDxKnzv0w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" />
          <img style="width: 108px; align-self: stretch; border-radius: 12px" src="https://s3-alpha-sig.figma.com/img/540c/3da8/cf0fed402d421b6b4be32dd8abe55eff?Expires=1700438400&Signature=JWiPRqRJVho07ZcLS8jwXGLJYNMTZJ0mGzzW3kVC6kPVoBrRgc~AaDOmj1cM5C5hSatdebM6H5Buw2LYU4jaWvWS6xJXHdlg-Z1a1beEaFdnuHxHZJEq7sk78CBWOYCC~GfmNRN9KEuCC1s--e3ZE~sHTKX7Xdq4fOWXCXdS9A1wJSAInesm-TM3zwii8qzp1Nas4Jou9rcOIoUx2L~uFoAPaHxVlT~1FcbeGq-rX1Y7bGI2IJjVY3W6C3s2BO8vYOjW28-T0VXvJ9MQPGoLPYnh1R~Uy2plXbKrWYUUYB~EVY2mV9ZiqteEmpv5urBhEAAlW84v43BhxUoMltjADQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" />
          <div style="width: 88px; height: 88px; padding: 12px; background: #F2F2F2; border-radius: 12px; overflow: hidden; flex-direction: column; justify-content: space-between; align-items: flex-start; display: inline-flex">
              <div class="view">View all images</div>
              <button  style="width: 24px; height: 24px; position: relative; background: #3355B9; border-radius: 24px; overflow: hidden">
              <img src="./assets/ri_arrow-right-s-line.svg" alt="">
              </button>
          </div>
      </div>
  </div>
</div>
</div>