<div style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: center; gap: 11px; display: inline-flex">
  <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 108px; display: inline-flex">
      <div style="width: 24px; height: 24px; position: relative">
          <div style="width: 15.58px; height: 15.17px; left: 4.42px; top: 4.41px; position: absolute; background: black"></div>
      </div>
      <div style="color: black; font-size: 12px; font-family: Open Sans Hebrew; font-weight: 400; word-wrap: break-word">My address</div>
  </div>
  <div style="width:100%; height: 239px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
      <div style="align-self: stretch; justify-content: flex-start; align-items: center; display: inline-flex">
          <div style="color: #363636; font-size: 16px; font-family: Open Sans Hebrew; font-weight: 700; word-wrap: break-word">Saved address</div>
      </div>
      <div style="width:100%; align-self: stretch; height: 205px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
          <div style="width:100%;align-self: stretch; padding-left: 8px; padding-right: 8px; padding-top: 12px; padding-bottom: 12px; background: #EBEEF8; border-radius: 8px; overflow: hidden;  justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
              <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
                  <div style="text-align: center; color: black; font-size: 14px; font-family: Open Sans Hebrew; font-weight: 700; word-wrap: break-word">Address 1</div>
                  <div style="align-self: stretch; color: rgba(0, 0, 0, 0.70); font-size: 12px; font-family: Open Sans Hebrew; font-weight: 400; word-wrap: break-word">2/50, AFG Road, Hyderabad, Telengana</div>
              </div>
              <div style="width: 16px; height: 16px; position: relative">
                  <div style="width: 12.26px; height: 12.28px; left: 1.87px; top: 1.86px; position: absolute; background: #3355B9"></div>
                  <div style="width: 7.14px; height: 7.14px; left: 5.97px; top: 2.78px; position: absolute; background: #3355B9"></div>
              </div>
              <div style="width: 16px; height: 16px; position: relative">
                  <div style="width: 9.33px; height: 12px; left: 3.33px; top: 2px; position: absolute; background: #3355B9"></div>
              </div>
          </div>
          <div style="width:100%;align-self: stretch; padding-left: 8px; padding-right: 8px; padding-top: 12px; padding-bottom: 12px; background: #EBEEF8; border-radius: 8px; overflow: hidden;  justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
              <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
                  <div style="text-align: center; color: black; font-size: 14px; font-family: Open Sans Hebrew; font-weight: 700; word-wrap: break-word">Address 2</div>
                  <div style="align-self: stretch; color: rgba(0, 0, 0, 0.70); font-size: 12px; font-family: Open Sans Hebrew; font-weight: 400; word-wrap: break-word">46/2/1, SF Road, Hyderabad, Telengana</div>
              </div>
              <div style="width: 16px; height: 16px; position: relative">
                  <div style="width: 12.26px; height: 12.28px; left: 1.87px; top: 1.86px; position: absolute; background: #3355B9"></div>
                  <div style="width: 7.14px; height: 7.14px; left: 5.97px; top: 2.78px; position: absolute; background: #3355B9"></div>
              </div>
              <div style="width: 16px; height: 16px; position: relative">
                  <div style="width: 9.33px; height: 12px; left: 3.33px; top: 2px; position: absolute; background: #3355B9"></div>
              </div>
          </div>
          <div style="width:100%;align-self: stretch; padding-left: 8px; padding-right: 8px; padding-top: 12px; padding-bottom: 12px; background: #EBEEF8; border-radius: 8px; overflow: hidden;  justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
              <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
                  <div style="text-align: center; color: black; font-size: 14px; font-family: Open Sans Hebrew; font-weight: 700; word-wrap: break-word">Address 3</div>
                  <div style="align-self: stretch; color: rgba(0, 0, 0, 0.70); font-size: 12px; font-family: Open Sans Hebrew; font-weight: 400; word-wrap: break-word">5/9/12, HZ Road, Hyderabad, Telengana</div>
              </div>
              <div style="width: 16px; height: 16px; position: relative">
                  <div style="width: 12.26px; height: 12.28px; left: 1.87px; top: 1.86px; position: absolute; background: #3355B9"></div>
                  <div style="width: 7.14px; height: 7.14px; left: 5.97px; top: 2.78px; position: absolute; background: #3355B9"></div>
              </div>
              <div style="width: 16px; height: 16px; position: relative">
                  <div style="width: 9.33px; height: 12px; left: 3.33px; top: 2px; position: absolute; background: #3355B9"></div>
              </div>
          </div>
      </div>
  </div>
  <div routerLink="/add-address" style="width: 328px; height: 42px; padding-left: 24px; padding-right: 24px; padding-top: 16px; padding-bottom: 16px; background: #3355B9; border-radius: 100px; overflow: hidden; border: 1px #3355B9 solid; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: flex">
      <div style="text-align: center; color: white; font-size: 14px; font-family: Open Sans Hebrew; font-weight: 700; letter-spacing: 0.10px; word-wrap: break-word">Add address</div>
  </div>
</div>