<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic Loader Examples
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <button (click)="displayAutoLoader()" color="primary" expand="block">Showss auto loader</button>
  <ion-button (click)="showLoader()" color="success" expand="block">Display loader</ion-button>
  <ion-button (click)="hideLoader()" color="danger" expand="block">Close loader</ion-button>
  <ion-button (click)="customizeLoader()" color="light" expand="block">Show customized loader</ion-button>
</ion-content>