@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
.btn-container{
    padding: 4%;
}
.swapping{
    color: black; font-size: 12px; font-family: 'Open Sans', sans-serif; font-weight: 400; word-wrap: break-word
}
.metro{
    color: #363636; font-size: 18px; font-family: 'Open Sans', sans-serif; font-weight: 600; word-wrap: break-word
}
.distance{
   color: #363636; font-size: 14px;font-family: 'Open Sans', sans-serif;font-weight: 400; word-wrap: break-word;
}
.open{
    color: #363636; font-size: 14px; font-family: 'Open Sans', sans-serif; font-weight: 400; word-wrap: break-word;
}
.view-image{
   width: 60px; color: black; font-size: 12px; font-family: 'Open Sans', sans-serif; font-weight: 700; word-wrap: break-word
}
.battery-model{
color: white; font-size: 14px; font-family: Archivo; font-weight: 700; word-wrap: break-word
}