<div style="height: 330px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex" 
 *ngFor="let im of imagearray" >
  <img  style="align-self: stretch; height: 230px; border-radius: 12px" src="{{azimageUrl}}{{im.ImageName}}" />
  <div style="width: 328px; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex" >
      <!-- <img style="width: 108px; align-self: stretch; border-radius: 12px"
      src="{{azimageUrl}}{{s_image}}"
        />
      <img style="width: 108px; align-self: stretch; border-radius: 12px"
      src="{{azimageUrl}}{{t_image}}"
        /> -->
     
  
  </div>
</div>