.search{
  width:328px;
  height: 42px;
  border-radius: 20px;
background: #F2F2F2;

border:none;
}
::placeholder{
  color: var(--Primary, #3355B9);
  font-family: Archivo;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container{
  display: flex;
align-items: center;
gap: 106px;
align-self: stretch;
}
.btn-container{
  padding: 2%;
}
.search-conatiner{
  display: flex;
padding: 12px;
align-items: center;
justify-content: center;
}
.card-parent{
  display:flex;
  flex-flow: wrap row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
  row-gap: 20px;
  padding:2%;
 
}
.card-child{
  width:156px;
  height: 142px;
 
}
.bike-img{
 width: 110px;
 height: 123px;
  align-self: stretch;
}
.inner-parent{
  display:flex;
  align-items: center;
  flex-flow: wrap row;
 column-gap: 20px;
}
.inner-child{
  width: 110px;
  height: 123px;
}
.view-btn{
  width: 202px;
height: 36px;
border-radius: 24px;
background: var(--Primary, #3355B9);

color: #FFF;

font-family: Archivo;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.scroller{
  height: 750px;
}