
  <div style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
    <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 122px; display: inline-flex">
        <div style="width: 24px; height: 24px; position: relative">
            <div style="width: 15.58px; height: 15.17px; left: 4.42px; top: 4.41px; position: absolute; background: black"></div>
        </div>
        <div style="color: black; font-size: 12px; font-family: Open Sans Hebrew; font-weight: 400; word-wrap: break-word">Invoice</div>
    </div>
    <div  >

</div>


<button  >
  <div style="color: white; font-size: 14px; font-family: Open Sans Hebrew; font-weight: 700; word-wrap: break-word">Download</div>
</button>