
  <div style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
    <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 122px; display: inline-flex">
        <div style="width: 24px; height: 24px; position: relative">
          <button style="background: transparent;border: none;" routerLink="/enableloaction">
            <img class="icon" src="./assets/ic_round-arrow-back (3).svg" alt=""></button>
        </div>
        <div style="color: black; font-size: 12px;  font-weight: 400; word-wrap: break-word">Invoice</div>
    </div>
    <div  >

</div>

<div style="width: 100%; height: 100%; position: relative; background: white; box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15)">
  <div style="width: 90.41px; height: 100%; left: 0px; top: 0px; position: absolute; background: #EEF2FF">
      <div style="left: 13.23px; top: 178.06px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; gap: 13.23px; display: inline-flex">
          <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 3.31px; display: flex">
              <div style="width: 9.92px; height: 9.92px; position: relative; background: #3355B9; border-radius: 13.23px; overflow: hidden">
                  <div style="width: 4.25px; height: 5.67px; left: 2.83px; top: 2.13px; position: absolute; background: white"></div>
              </div>
              <div style="width: 63.95px; text-align: center; color: #363636; font-size: 5.51px; font-family: Inter; font-weight: 400; word-wrap: break-word">2-1-319/2/A, Road no. - 7 Mamatha nagar colony,  Mansoorabad, Hyderabad, 500068</div>
          </div>
          <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 4.41px; display: flex">
              <div style="width: 9.92px; height: 9.92px; position: relative; background: #3355B9; border-radius: 13.23px; overflow: hidden">
                  <div style="width: 5.67px; height: 5.67px; left: 2.13px; top: 2.13px; position: absolute; background: white"></div>
              </div>
              <div style="color: #363636; font-size: 5.51px;  font-weight: 400; word-wrap: break-word">+91 9876543210</div>
          </div>
          <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 4.41px; display: flex">
              <div style="width: 9.92px; height: 9.92px; position: relative; background: #3355B9; border-radius: 13.23px; overflow: hidden">
                  <div style="width: 5.67px; height: 4.25px; left: 2.13px; top: 2.84px; position: absolute; background: white"></div>
              </div>
              <div style="color: #363636; font-size: 5.51px;  font-weight: 400; word-wrap: break-word">contactus@ever.com</div>
          </div>
          <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 4.41px; display: flex">
              <div style="width: 9.92px; height: 9.92px; position: relative; background: #3355B9; border-radius: 13.23px; overflow: hidden">
                  <div style="width: 5.67px; height: 5.67px; left: 2.13px; top: 2.13px; position: absolute; background: white"></div>
              </div>
              <div style="color: #363636; font-size: 5.51px;  font-weight: 400; word-wrap: break-word">everenergies.com</div>
          </div>
      </div>
      <div style="width:100%; height: 100px; left: 45.75px; top: 109.15px; position: absolute">
          <img src="../assets/Logo.svg" style="width: 27.56px; height: 0px; left: 0px; top: 55.68px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 1.10px #BFCCF0 solid">

      </div>
      <div style="width: 85.45px; height: 0px; left: 45.75px; top: 417.30px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 1.10px #BFCCF0 solid"></div>
      <div style="left: 17.48px; top: 18.74px; position: absolute; flex-direction: column; justify-content: center; align-items: center; gap: 1.54px; display: inline-flex">
          <img src="../assets/Logo.svg"  style="width: 42.55px; height: 42.55px; transform: rotate(25.04deg); transform-origin: 0 0; ">
          <img src="../assets/EVERslip.svg" style="width: 42.55px; height: 42.55px;  transform-origin: 0 0;color: #3355B9; " alt="">
 
      </div>
  </div>
  <img style="width: 163.24px; height: 163.24px; left: 422.28px; top: 600px; position: absolute; transform: rotate(160.49deg); transform-origin: 0 0; opacity: 0.20; border-radius: 2.43px" src="../assets/Logo.svg" />
  <div style="width: 211.68px; height: 0px; left: 103.64px; top: 55.68px; position: absolute; border: 1.10px #3355B9 solid"></div>
  <div style="left: 103.64px; top: 23.70px; position: absolute; color: #283E82; font-size: 19.85px; font-family: Inter; font-weight: 700; word-wrap: break-word">Tax Invoice</div>
  <div style="left: 103.64px; top: 63.39px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4.41px; display: inline-flex">
      <div style="color: #4A4A4A; font-size: 5.51px; font-family: Inter; font-weight: 400; word-wrap: break-word">Invoice for</div>
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4.41px; display: flex">
          <div style="color: black; font-size: 7.72px;  font-weight: 700; word-wrap: break-word">Manish Paul</div>
          <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 3.31px; display: flex">
              <div style="justify-content: flex-start; align-items: center; gap: 3.31px; display: inline-flex">
                  <div style="width: 7.72px; height: 7.72px; position: relative; background: #3355B9; border-radius: 13.23px; overflow: hidden">
                      <div style="width: 3.22px; height: 3.22px; left: 2.25px; top: 2.25px; position: absolute; background: white"></div>
                  </div>
                  <div style="color: rgba(54, 54, 54, 0.96); font-size: 5.51px; font-family: Inter; font-weight: 400; word-wrap: break-word">+91 9876543210</div>
              </div>
              <div style="justify-content: flex-start; align-items: center; gap: 3.31px; display: inline-flex">
                  <div style="width: 7.72px; height: 7.72px; position: relative; background: #3355B9; border-radius: 13.23px; overflow: hidden">
                      <div style="width: 3.22px; height: 2.57px; left: 2.25px; top: 2.57px; position: absolute; background: white"></div>
                  </div>
                  <div style="color: rgba(54, 54, 54, 0.96); font-size: 5.51px;  font-weight: 400; word-wrap: break-word">manishpaul@gmail.com</div>
              </div>
          </div>
      </div>
  </div>
  <div style="height: 282.74px; left: 103.64px; top: 140.96px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
      <div style="align-self: stretch; height: 142.84px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 3.31px; display: flex">
          <div style="align-self: stretch; padding-left: 4.41px; padding-right: 4.41px; padding-top: 2.21px; padding-bottom: 2.21px; background: #EEF2FF; border-radius: 2.21px; justify-content: flex-start; align-items: flex-start; gap: 5.51px; display: inline-flex">
              <div style="flex: 1 1 0; color: black; font-size: 7.72px; font-family: Inter; font-weight: 700; word-wrap: break-word">Billing details</div>
          </div>
          <div style="align-self: stretch; height: 126.13px; padding-left: 4.41px; padding-right: 4.41px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 5.51px; display: flex">
              <div style="align-self: stretch; color: #363636; font-size: 6.62px;  font-weight: 700; word-wrap: break-word">Usage charges</div>
              <div style="align-self: stretch; justify-content: space-between; align-items: flex-start; display: inline-flex">
                  <div style="color: #363636; font-size: 6.62px;  font-weight: 400; word-wrap: break-word">Base rental fee</div>
                  <div style="text-align: right; color: #363636; font-size: 6.62px;  font-weight: 400; word-wrap: break-word">₹{{ ProductDetails?.BookingAmount}}</div>
              </div>
              <div style="align-self: stretch; justify-content: space-between; align-items: flex-start; display: inline-flex">
                  <div style="color: #363636; font-size: 6.62px;  font-weight: 400; word-wrap: break-word">Water wash basic </div>
                  <div style="text-align: right; color: #363636; font-size: 6.62px;  font-weight: 400; word-wrap: break-word">Free</div>
              </div>
              <div style="align-self: stretch; justify-content: space-between; align-items: flex-start; display: inline-flex">
                  <div style="color: #363636; font-size: 6.62px;  font-weight: 400; word-wrap: break-word">Damage protection Premium</div>
                  <div style="text-align: right; color: #363636; font-size: 6.62px;  font-weight: 400; word-wrap: break-word">₹348</div>
              </div>
              <div style="align-self: stretch; color: #363636; font-size: 6.62px;  font-weight: 700; word-wrap: break-word">Tax</div>
              <div style="align-self: stretch; justify-content: space-between; align-items: flex-start; display: inline-flex">
                  <div style="color: #363636; font-size: 6.62px;  font-weight: 400; word-wrap: break-word">SGST - 9%</div>
                  <div style="text-align: right; color: #363636; font-size: 6.62px;  font-weight: 400; word-wrap: break-word">₹100</div>
              </div>
              <div style="align-self: stretch; justify-content: space-between; align-items: flex-start; display: inline-flex">
                  <div style="color: #363636; font-size: 6.62px;  font-weight: 400; word-wrap: break-word">CGST - 9%</div>
                  <div style="text-align: right; color: #363636; font-size: 6.62px;  font-weight: 400; word-wrap: break-word">₹100</div>
              </div>
              <div style="align-self: stretch; color: #363636; font-size: 6.62px;  font-weight: 700; word-wrap: break-word">Coupon</div>
              <div style="align-self: stretch; justify-content: space-between; align-items: flex-start; display: inline-flex">
                  <div style="color: #363636; font-size: 6.62px;  font-weight: 400; word-wrap: break-word">Coupon discount</div>
                  <div style="text-align: right; color: #363636; font-size: 6.62px;  font-weight: 400; word-wrap: break-word">-₹300</div>
              </div>
              <div style="align-self: stretch; height: 60px; border: 0.55px #E8E7E7 solid"></div>
              <div style="align-self: stretch; justify-content: space-between; align-items: flex-start; display: inline-flex">
                  <div style="color: #363636; font-size: 7.72px;  font-weight: 700; word-wrap: break-word">Total</div>
                  <div style="text-align: right; color: #363636; font-size: 7.72px;  font-weight: 700; word-wrap: break-word">₹1,748</div>
              </div>
          </div>
      </div>
      <div style="align-self: stretch; height: 60px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 3.31px; display: flex;">
          <div style="align-self: stretch; padding-left: 4.41px; padding-right: 4.41px; padding-top: 2.21px; padding-bottom: 2.21px; background: #EEF2FF; border-radius: 2.21px; justify-content: flex-start; align-items: flex-start; gap: 5.51px; display: inline-flex">
              <div style="color: black; font-size: 7.72px; font-family: Inter; font-weight: 700; word-wrap: break-word">Payment details</div>
          </div>
          <div style="align-self: stretch; padding-left: 4.41px; padding-right: 4.41px; justify-content: flex-start; align-items: flex-start; gap: 6.62px; display: inline-flex">
              <div style="width: 52.92px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4.41px; display: inline-flex">
                  <div style="color: #363636; font-size: 6.62px;  font-weight: 700; word-wrap: break-word">Paid by</div>
                  <div style="text-align: right; color: #363636; font-size: 6.62px;  font-weight: 400; word-wrap: break-word">Google Pay</div>
              </div>
              <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4.41px; display: inline-flex">
                  <div style="color: #363636; font-size: 6.62px;  font-weight: 700; word-wrap: break-word">UPI transaction ID</div>
                  <div style="text-align: right; color: #363636; font-size: 6.62px;  font-weight: 400; word-wrap: break-word">986754834201</div>
              </div>
          </div>
      </div>
      <div style="align-self: stretch; height: 72.77px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 3.31px; display: flex">
          <div style="align-self: stretch; padding-left: 4.41px; padding-right: 4.41px; padding-top: 20.21px; padding-bottom: 2.21px; background: #EEF2FF; border-radius: 2.21px; justify-content: flex-start; align-items: flex-start; gap: 5.51px; display: inline-flex">
              <div style="flex: 1 1 0; color: black; font-size: 7.72px;  font-weight: 700; word-wrap: break-word">Ever booking with OLA S1 Pro</div>
          </div>
          <div style="align-self: stretch; height: 80px; padding-left: 4.41px; padding-right: 4.41px;padding-top: 40px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap:12px; display: flex">
              <div style="align-self: stretch"><span style="color: black; font-size: 6.62px;  font-weight: 700; word-wrap: break-word">Vehicle number</span><span style="color: black; font-size: 6.62px;  font-weight: 400; word-wrap: break-word"> : {{ProductDetails?.VehicleNumber}}</span></div>
              <div style="align-self: stretch"><span style="color: black; font-size: 6.62px;  font-weight: 700; word-wrap: break-word">Hub centre</span><span style="color: black; font-size: 6.62px;  font-weight: 400; word-wrap: break-word"> : Megha hills EV hub</span></div>
              <div style="align-self: stretch"><span style="color: black; font-size: 6.62px;  font-weight: 700; word-wrap: break-word">Start date & time</span><span style="color: black; font-size: 6.62px;  font-weight: 400; word-wrap: break-word"> {{ProductDetails?.BookingStartDate}}</span></div>
              <div style="align-self: stretch"><span style="color: black; font-size: 6.62px;  font-weight: 700; word-wrap: break-word">End date & time</span><span style="color: black; font-size: 6.62px;  font-weight: 400; word-wrap: break-word"> {{ProductDetails?.BookingEndDate}}</span></div>
              <div style="align-self: stretch"><span style="color: black; font-size: 6.62px;  font-weight: 700; word-wrap: break-word">Duration</span><span style="color: black; font-size: 6.62px;  font-weight: 400; word-wrap: break-word"> : {{timeDifference}}</span></div>
          </div>
      </div>
  </div>
  <div style="left: 103.64px; top: 620.70px; position: absolute; color: #283E82; font-size: 9.92px;  font-weight: 700; line-height: 15.48px; word-wrap: break-word">Thank you for choosing us!</div>
  <div style="left: 244.76px; top: 27.56px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 3.31px; display: inline-flex">
      <div><span style="color: #363636; font-size: 5.51px; font-family: Inter; font-weight: 700; word-wrap: break-word">Invoice no.</span><span style="color: #363636; font-size: 5.51px; font-family: Inter; font-weight: 400; word-wrap: break-word"> -{{ProductDetails?.BookingNo}}</span></div>
      <div><span style="color: #363636; font-size: 5.51px; font-family: Inter; font-weight: 700; word-wrap: break-word">Invoice date</span><span style="color: #363636; font-size: 5.51px; font-family: Inter; font-weight: 400; word-wrap: break-word"> -{{ProductDetails?.BookingStartDate| date: 'dd/MM/yyyy'}}</span></div>
  </div>
</div>
<button  >
  <div style="color: white; font-size: 14px;  font-weight: 700; word-wrap: break-word">Download</div>
</button>