<div style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
  <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 98px; display: inline-flex">
      <div style="width: 24px; height: 24px; position: relative">
        <a routerLink="/setting"><img class="icon" src="./assets/ic_round-arrow-back (3).svg" alt=""></a>
      </div>
      <div style="color: #363636; font-size: 12px;  font-weight: 400; word-wrap: break-word">About application</div>
  </div>
  <div style="color: #363636; font-size: 18px;  font-weight: 700; word-wrap: break-word">About application</div>
</div>