<ion-content class="scroller">
    <div class="btn-container">
        <div
            style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex" >
            <div
                style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 98px; display: inline-flex">
                <div style="width: 24px; height: 24px; position: relative">
                    <div class="btn-container">
                        <button style="background: transparent;border: none;" routerLink="/booking_summary/{{bookingNo}}">
                            <img class="icon" src="./assets/ic_round-arrow-back (3).svg" alt=""></button>
                    </div>
                </div>
                <div routerLink="/booking-summary-m" class="offers">Offers & benefits</div>
            </div>
           
                    <!-- <div style="width: 18px; height: 18px; position: relative"> -->
                    <!-- <div style="width: 15px; height: 10.50px; left: 1.50px; top: 3.75px; position: absolute; background: #3355B9"></div> -->
                    <!-- </div> -->
                    <!-- <div class="coupan">Type coupon code here</div> -->
               
                <!-- <div class="apply">Apply</div> -->
                <ion-searchbar placeholder="Type coupon code here" 
                  (ionChange)="filterItems($event.detail.value, 'CouponCode')"
                  
                  name="searchValue" showCancelButton="focus"
                    animated></ion-searchbar>
           
            <div
                style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
                <div class="best-offer">Best offers for you</div>
                <div
                    style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
                    <div *ngFor="let f of filteredItems" class="startingdiv">
                        <div
                            style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                            <div
                                style="align-self: stretch; height: 49px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 6px; display: flex">
                                <div
                                    style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                                    <div class="first">{{f.CouponCode}}</div>
                                </div>
                                <div class="savings">
                                    You are saving ₹1,500 on this drive by using this coupon code</div>
                            </div>
                            <button     (click)="opendialog()"
                                style="width: 104px; height: 28px; padding-left: 10px; padding-right: 10px; padding-top: 16px; padding-bottom: 16px; background: #3355B9; border-radius: 24px; justify-content: center; align-items: center; gap: 10px; display: inline-flex;color:white;">
                            
                                    Apply

                               
                            </button>

                        </div>

                        <div
                            style="width: 68px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 8px; display: inline-flex">
                            <div
                                style="align-self: stretch; text-align: center; color: #363636; font-size: 28px; font-family: Archivo; font-weight: 700; word-wrap: break-word">
                                {{f.DiscountPercentage}}% OFF</div>
                            <div
                                style="align-self: stretch; text-align: center; color: #363636; font-size: 12px; font-family: Archivo; font-weight: 400; word-wrap: break-word">
                                up to ₹150</div>
                        </div>
                    </div>
                   
                </div>
            </div>

        </div>
    </div>
    <ion-modal #modal trigger="open-modal">
        <ng-template>
            <ion-content>
                <div
                    style="width: 100%; height: 100%; padding-left: 24px; padding-right: 24px; padding-top: 36px; padding-bottom: 36px; background: white; box-shadow: 0px 1px 4px rgba(86.88, 128.89, 236.94, 0.25); border-radius: 16px; flex-direction: column; justify-content: center; align-items: center; gap: 16px; display: inline-flex">
                    <div
                        style="width: 24px; height: 24px; justify-content: center; align-items: center; display: inline-flex">
    
                        <button class="allow-permission-btn" (click)="modal.dismiss()">
                            <img src="../assets/mingcute_close-line.svg" alt=""></button>
    
                    </div>
                    <div
                        style="padding-top: 25px; padding-bottom: 23px; padding-left: 20px; padding-right: 18px; background: #6EDF72; border-radius: 120px; justify-content: center; align-items: center; display: inline-flex">
                        <div
                            style="width: 36px; height: 26px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                            <div
                                style="width: 18.04px; height: 0px; transform: rotate(45deg); transform-origin: 0 0; border: 5px white solid">
                            </div>
                            <div
                                style="width: 32.71px; height: 0px; transform: rotate(-45deg); transform-origin: 0 0; border: 5px white solid">
                            </div>
                        </div>
                    </div>
                    <div style="color: #3F3F3F; font-size: 24px; font-family: Archivo; font-weight: 700; word-wrap: break-word"
                        routerLink="/booking-summary-applied-m">Congratulation</div>
                    <div
                        style="width: 232px; text-align: center; color: #717171; font-size: 14px; font-family: Archivo; font-weight: 400; word-wrap: break-word">
                        ‘FIRSTRIDE20’ applied.</div>
                    <div
                        style="width: 232px; text-align: center; color: #363636; font-size: 16px; font-family: Archivo; font-weight: 700; word-wrap: break-word">
                        You have saved ₹1,500 with this coupon</div>
                </div>
            </ion-content>
        </ng-template>
    </ion-modal>
</ion-content>


<!-- ionmodel -->

<ion-alert routerLink="/booking-details"
  [isOpen]="isAlertOpen"
  message="You have saved ₹1,500 with this coupon"
  (didDismiss)="setOpen(false)"
></ion-alert>

