<div class="allow-container">
  <ion-card class="allow-card" >
    <img alt="" src="./assets/cameraperm.svg" />
    <ion-card-header class="title-container">
      <ion-card-title class="title">Allow permissions for camera</ion-card-title>
      
    </ion-card-header>
  
    <ion-card-content class="title-container1">
      Grant permissions of camera to take photo.
    </ion-card-content>
    <div class="allow-permission-btn-container">
    <button class="allow-permission-btn">Allow camera permissions</button>
  </div>
  </ion-card>
  
  </div>