
<div class="btn-container">
  <button style="background: transparent;border: none;" routerLink="/preview"><img class="icon" src="./assets/zondicons_arrow-left.svg" alt=""></button>
  </div>
  <div class="btn-container">
    <p class="preview-content">
      Crop your photo
    </p>
  </div>
<div class="selfie-container">
  <img src="./assets/crop.png" alt="">
</div>
<div class="save-container">
  <button class="cancel-btn" routerLink="/preview">Cancel</button>
  <button class="save-btn" routerLink="/enableloaction">Save</button>
</div>

