<div class="btn-container">
<div style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
    <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 90px; display: inline-flex">
        <div style="width: 24px; height: 24px; position: relative">
          <div class="container">
              <div class="btn-container">
                <button style="background: transparent;border: none;" routerLink="/coupon-applied-dashboard"><img class="icon" src="./assets/zondicons_arrow-left.svg" alt=""></button>
                </div>
              
              </div>
        </div>
      <div class="add">Add new UPI ID</div>
  </div>
  <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 18px; display: flex">
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
          <div class="upiid">UPI ID</div>
          <input type="text" style="width: 328px; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: white; border-radius: 24px; overflow: hidden; border: 1px #E2E1E5 solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
        
  </div>
  <div style="justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
      <div style="width: 24px; height: 24px; padding: 3px; justify-content: center; align-items: center; display: flex">
          <div style="width: 18px; height: 18px; background: #3355B9"></div>
      </div>
      <div class="secure">Securely save VPA for future use</div>
  </div>
  <button routerLink="/add-card-b" style="width: 328px; height: 48px; padding-left: 16px; padding-right: 16px; padding-top: 10px; padding-bottom: 10px; background: #3355B9; border-radius: 24px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
      <div style="color: white; font-size: 14px; font-family: Archivo; font-weight: 700; word-wrap: break-word">Verify & pay ₹500</div>
  </button>
</div>
</div>