@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
.btn-container{
    padding: 4%;
}
.secure{
 opacity: 0.60; color: #363636; font-size: 14px;font-family: 'Open Sans', sans-serif;  font-weight: 400; word-wrap: break-word
}