@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
.btn-container{
    padding: 2%;
}
.payment{
    color: black; font-size: 12px; font-family: 'Open Sans', sans-serif; font-weight: 400; word-wrap: break-word
}
.approve{
   width: 290px; text-align: center; color: black; font-size: 16px;font-family: 'Open Sans', sans-serif; font-weight: 600; word-wrap: break-word
}
.payment{
    color: #3355B9; font-size: 14px; font-family: Archivo; font-weight: 700; text-decoration: underline; word-wrap: break-word
}