.parent{
    display:flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
 column-gap: 20px;
}
.child{
    width:90px;
    height: 100px;
    border: 2px solid whitesmoke;
}
.start{
    display: flex;
width: 328px;
height: 42px;
padding: 10px 16px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
border-radius: 24px;
background: var(--Primary, #3355B9);
}