
<p>Choose your preferred options</p>
<p><input type="radio" name="" id="" value="one">water wash basi</p>
<p><input type="radio" name="" id="" value="one">Foam wash premium</p>
<p>Securirty Deposit</p>
<div class="parent">
    <div class="child">
        <p>0/day</p>
        <p>you will pay ammount in case of any damage</p>
    </div>
    <div class="child">
        <p>49/day</p>
        <p>you will pay 10,000 in case of any damage</p>
    </div>
    <div class="child">
       <p>69/day</p> 
       <p><p>you will pay 10,000 in case of any damage</p>
    </div>
</div>
<button class="start">Proceed Next</button>
