
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
.btn-container{
    padding:4%;
}
.e-card{
   color: black; font-size: 12px; font-family: 'Open Sans', sans-serif; font-weight: 400; word-wrap: break-word
}
.add-money{
  color: #363636; font-size: 16px; font-family: 'Open Sans', sans-serif;  font-weight: 600; word-wrap: break-word
}
.ammount{
 color: #363636; font-size: 14px; font-family: 'Open Sans', sans-serif;  font-weight: 400; word-wrap: break-word

}
.btn-content{
  color: white; font-size: 14px; font-family: 'Open Sans', sans-serif; font-weight: 700; word-wrap: break-word
}